<%- include('../common/header.ejs'); %>

<style>
  .error {
    color: red !important;
    font-size: 12px !important;
  }
</style>

<!-- END: Head-->
<!-- BEGIN: Body-->
<%- include('../common/navbar.ejs'); %>

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

  <!-- BEGIN: Header-->


  <!-- END: Header-->


  <!-- BEGIN: Main Menu Sidebar -->
  <%- include('../common/sidebar.ejs'); %>
  <!-- END: Main Menu Sidebar-->

  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-start mb-0">Edit</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">

        <div class="tab-content">
          <!-- Account Tab starts -->
          <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
            <!-- users edit start -->

            <!-- users edit ends -->
            <!-- users edit account form start -->
            <div class="col-md-6 col-12">
              <div class="card">
                <div class="card-body">
                  <form id="addsocial" action="/admin/socail_links_update" method="post" enctype="multipart/form-data">
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-instagram_link">Instagram Link</label>
                      <input type="text" class="form-control" id="basic-default-instagram_link" name="instagram_link" value="<%-fees?.instagram_link%>" placeholder="Enter instagram link" required/>
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-tiktok_link">Tiktok Link</label>
                      <input type="text" class="form-control" id="basic-default-tiktok_link" name="tiktok_link" value="<%-fees?.tiktok_link%>" placeholder="Enter tiktok link" required/>
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-twitter_link">Twitter Link(X)</label>
                      <input type="text" class="form-control" id="basic-default-twitter_link" name="twitter_link" value="<%-fees?.twitter_link%>" placeholder="Enter twitter link" required/>
                    </div>


                    <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                      <button type="submit" class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Save Changes</button>
                    </div>
                    <!-- <button type="submit" class="btn btn-primary" name="submit" value="Submit">Submit</button> -->
                  </form>
                </div>
              </div>
            </div>
            <!-- /jQuery Validation -->
          </div>
          </section>
          <!-- /Validation -->

          <!-- users edit account form ends -->
        </div>
      </div>
    </div>
  </div>
  </section>

  </div>
  </div>
  </div>
  <!-- END: Content-->



  <%- include('../common/footer.ejs'); %>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $(document).ready(function() {
      jQuery.validator.addMethod("noSpace", function(value, element) {
        return value == '' || value.trim().length != 0;
      }, "No space please and don't leave it empty");

      jQuery.validator.addMethod("alphanumeric", function(value, element) {
        return this.optional(element) || /^[a-zA-Z0-9_]+$/.test(value);
      }, "Only letters, numbers, and underscores allowed");

      jQuery.validator.addMethod("validEmail", function(value, element) {
        return this.optional(element) || /^[a-zA-Z0-9_]+@[a-zA-Z0-9_]+\.[a-zA-Z]{2,3}$/.test(value) && value.endsWith('.com');
      }, "Please enter a valid email address ending with '.com'");

      jQuery.validator.addMethod("onlyNumbers", function(value, element) {
      return this.optional(element) || /^\d+$/.test(value);
     }, "Only numbers are allowed");

      $("#addsocial").validate({
        ignore: [],
        rules: {
          instagram_link:{
            required: true,
            noSpace: true,

          },
          tiktok_link:{
            required: true,
            noSpace: true,

          },
          twitter_link:{
            required: true,
            noSpace: true,

          },
    
        },
        messages: {
          instagram_link:{
            required: "Instagram link is a required field!!!",
          },
          tiktok_link:{
            required: "Tik Tok link is a required field!!!",
          },
          twitter_link:{
            required: "Twitter link is a required field!!!",
          },
        },
      })
    })

  
  </script>