<%- include('../subadmincommon/header.ejs'); %>
<style>
    .error {
    color: red !important;
    font-size: 12px !important;
  }
</style>

<!-- END: Head-->
<!-- BEGIN: Body-->
<%- include('../subadmincommon/navbar.ejs'); %>

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

  <!-- BEGIN: Header-->


  <!-- END: Header-->


  <!-- BEGIN: Main Menu Sidebar -->
  <%- include('../subadmincommon/sidebar.ejs'); %>
  <!-- END: Main Menu Sidebar-->

  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-start mb-0">Add</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">

        <div class="tab-content">
          <!-- Account Tab starts -->
          <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
            <!-- users edit start -->

            <!-- users edit ends -->
            <!-- users edit account form start -->
            <div class="col-md-6 col-12">
              <div class="card">
                <div class="card-body">
                  <form id="addmaid" action="/subadmin/maid_post" method="post" enctype="multipart/form-data">
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-name">Name</label>
                      <input type="text" class="form-control" id="basic-default-name" name="name" placeholder="Enter name" />
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-nationality">Nationality</label>
                      <input type="text" class="form-control" id="basic-default-nationality" name="nationality" placeholder="Enter nationality"  />
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-age">Age</label>
                      <input type="date" class="form-control" id="basic-default-age" name="age" placeholder="Enter age" max="">

                      
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-experience">Experience</label>
                      <input type="text" class="form-control" id="basic-default-experience" name="experience" placeholder="Enter experience"  />
                    </div>

                    <div class="mb-1">
                      <label class="form-label" for="basic-default-salery">Salary</label>
                      <input type="text" class="form-control" id="basic-default-salery" name="salery" placeholder="Enter salary"  />
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-degree">Degree</label>
                      <input type="text" class="form-control" id="basic-default-degree" name="degree" placeholder="Enter degree"  />
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-height">Height</label>
                      <input type="text" class="form-control" id="basic-default-height" name="height" placeholder="Enter height (in cm)"  />
                    </div>

                    <div class="mb-1">
                      <label class="form-label" for="basic-default-weight">Weight</label>
                      <input type="text" class="form-control" id="basic-default-weight" name="weight" placeholder="Enter weight (in kg)"  />
                    </div>
                    <div class="mb-1 all_check_veli">
                      <label class="form-label">Languages</label>
                      <% languages.forEach(language => { %>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="language-<%= language.id %>" name="language_id" value="<%= language.id %>">
                          <label class="form-check-label" for="language-<%= language.id %>"><%= language.name %></label>
                        </div>
                      <% }); %>
                    </div>

                    <div class="mb-1">
                      <label class="form-label" for="service-type">Availablity</label>
                        <select class="form-control" id="service-type" name="availablity" >
                          <option value="" disabled selected>Select Availablity</option>
                            <option value="1">Available on order</option>
                            <option value="2">Available at office</option>
                        </select>
                    </div>

                    <div class="mb-1">
                      <label for="passport" class="form-label">Passport</label>
                      <input class="form-control" type="file" id="passport" onchange="loadFile(event)" class="d-none" name="passport"  />
                    </div>

                    <div class="mb-1">
                      <label for="cv" class="form-label">Cv</label>
                      <input class="form-control" type="file" id="cv" onchange="loadFile(event)" class="d-none" name="cv"  />
                    </div>

                    <div class="mb-1">
                      <label for="image" class="form-label">Image</label>
                      <input class="form-control" type="file" id="image" onchange="loadFile(event)" class="d-none" name="image" />
                    </div>


                    <button type="submit" class="btn btn-primary" name="submit" value="Submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>
            <!-- /jQuery Validation -->
          </div>
          </section>
          <!-- /Validation -->

          <!-- users edit account form ends -->
        </div>
      </div>
    </div>
  </div>
  </section>

  </div>
  </div>
  </div>
  <!-- END: Content-->



  <%- include('../subadmincommon/footer.ejs'); %>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $(document).ready(function() {
      jQuery.validator.addMethod("noSpace", function(value, element) {
        return value == '' || value.trim().length != 0;
      }, "No space please and don't leave it empty");

      jQuery.validator.addMethod("alphanumeric", function(value, element) {
        return this.optional(element) || /^[a-zA-Z0-9_]+$/.test(value);
      }, "Only letters, numbers, and underscores allowed");

      jQuery.validator.addMethod("validEmail", function(value, element) {
        return this.optional(element) || /^[a-zA-Z0-9_]+@[a-zA-Z0-9_]+\.[a-zA-Z]{2,3}$/.test(value) && value.endsWith('.com');
      }, "Please enter a valid email address ending with '.com'");

      jQuery.validator.addMethod("onlyNumbers", function(value, element) {
      return this.optional(element) || /^\d+$/.test(value);
     }, "Only numbers are allowed");

      $("#addmaid").validate({
        ignore: [],
        rules: {
          name: {
            required: true,
            minlength: 3,
            noSpace: true
          },
          nationality: {
            required: true,
            noSpace: true
          },
          age: {
            required: true,
            noSpace: true
          },
          experience: {
            required: true,
          },
    
          service_provider_service_type_id:{
            required: true,
          },
          language_id:{
            required: true,

          },
          salery:{
            required: true,
            noSpace: true,
            onlyNumbers: true

          },
          availablity:{
            required: true,
            noSpace: true,
          },
          degree: {
            required: true,
            noSpace: true
          },
          height: {
            required: true,
            noSpace: true,
            onlyNumbers: true

          },
          weight: {
            required: true,
            noSpace: true,
            onlyNumbers: true

          },
          passport: {
            required: true
          },
          cv: {
            required: true
          },

          image: {
            required: true
          },

        },
        messages: {

          name: {
            required: "Name is a required field!!!",
            accept: "Please enter a vaild name ",
            noSpace: "Space not allowed"
          },
          nationality: {
            required: "Nationality is a required field!!!",
            noSpace: "Space not allowed"
          },

          age: {
            required: "Age is a required field!!!",
            noSpace: "Space not allowed",
          

          },
          experience: {
            required: "Experience is a required field!!!",
            noSpace: "Space not allowed"
          },
          nationality: {
            required: "Nationality is a required field!!!",
            noSpace: "Space not allowed"
          },
          service_provider_service_type_id:{
            required: "Service Type is a required field!!!",
          },
          salery:{
            required: "Salary is a required field!!!",
            noSpace: "Space not allowed"
          },
          language_id:{
            required: "Language is a required field!!!",
          },
          availablity: {
            required: "Availablity is a required field!!!",

          },
          degree:{
            required: "Degree is a required field!!!",

          },
          height:{
            required: "Height is a required field!!!",

          },
          weight:{
            required: "Weight is a required field!!!",

          },
          passport:{
            required: "Passport is a required field!!!",

          },
          cv:{
            required: "Cv is a required field!!!",

          },
          image: {
            required: "Image is a required field!!!",
          },


        },
      })
    })

    $("#image").on('change', function() {
      // alert("dsfsdf")
      $("#image-error").hide()
    })
    $("#cv").on('change', function() {
      // alert("dsfsdf")
      $("#cv-error").hide()
    })
    $("#passport").on('change', function() {
      // alert("dsfsdf")
      $("#passport-error").hide()
    })

    document.addEventListener("DOMContentLoaded", function() {
    var today = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format
    document.getElementById("basic-default-age").setAttribute("max", today);
});


  </script>