<%- include('../subadmincommon/header.ejs'); %>
<style>
  .error {
  color: red !important;
  font-size: 12px !important;
}
</style>

<!-- END: Head-->
<!-- BEGIN: Body-->
<%- include('../subadmincommon/navbar.ejs'); %>

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

  <!-- BEGIN: Header-->


  <!-- END: Header-->


  <!-- BEGIN: Main Menu Sidebar -->
  <%- include('../subadmincommon/sidebar.ejs'); %>
  <!-- END: Main Menu Sidebar-->

  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-start mb-0">Edit</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">

        <div class="tab-content">
          <!-- Account Tab starts -->
          <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
            <!-- users edit start -->

            <!-- users edit ends -->
            <!-- users edit account form start -->
            <div class="col-md-6 col-12">
              <div class="card">
                <div class="card-body">
                  <form id="editmaid" action="/subadmin/maid_update/<%-data_view?.id%>" method="post" enctype="multipart/form-data">
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-name">Name</label>
                      <input type="text" class="form-control" id="basic-default-name" name="name" value="<%-data_view?.name%>" placeholder="Enter name" />
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-nationality">Nationality</label>
                      <input type="text" class="form-control" id="basic-default-nationality" name="nationality" value="<%-data_view?.nationality%>" placeholder="Enter Nationality"  />
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-age">Age</label>
                      <input type="date" class="form-control" id="basic-default-age" name="age" value="<%-data_view?.age%>" placeholder="Enter Age"  />
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-experience">Experience</label>
                      <input type="text" class="form-control" id="basic-default-experience" name="experience" value="<%-data_view?.experience%>" placeholder="Enter experience"  />
                    </div>

                    <div class="mb-1">
                      <label class="form-label" for="basic-default-salery">Salary</label>
                      <input type="text" class="form-control" id="basic-default-salery" name="salery" value="<%-data_view?.salery%>" placeholder="Enter salary"  />
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-degree">Degree</label>
                      <input type="text" class="form-control" id="basic-default-degree" name="degree" value="<%-data_view?.degree%>" placeholder="Enter degree"  />
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-height">Height</label>
                      <input type="text" class="form-control" id="basic-default-height" name="height" value="<%-data_view?.height%>" placeholder="Enter height (in cm)"  />
                    </div>

                    <div class="mb-1">
                      <label class="form-label" for="basic-default-weight">Weight</label>
                      <input type="text" class="form-control" id="basic-default-weight" name="weight" value="<%-data_view?.weight%>" placeholder="Enter weight (in kg)"  />
                    </div>

                    <div class="mb-1">
                      <label class="form-label" for="basic-default-name">Availability</label>
                      <select class="form-control" id="availability-dropdown" name="availablity" required>
                          <option value="1" <% if(data_view?.availablity === '1') { %> selected <% } %>>Available on order</option>
                          <option value="2" <% if(data_view?.availablity === '2') { %> selected <% } %>>Available at office</option>
                      </select>
                  </div>
                  
                    
                 

                    <div class="mb-1 all_check_veli">
                      <label class="form-label">Languages</label>
                      <% languages.forEach(function(language, index) { %>
                        <div class="form-check me-2">
                          <input
                            type="checkbox"
                            id="language_<%= index %>"
                            name="language_id"
                            value="<%= language.id %>"
                            class="form-check-input"
                            <% if (savedLanguageIds.includes(language.id)) { %>checked<% } %>
                          />
                          <label class="form-check-label mt-0" for="language_<%= index %>">
                            <%= language.name %>
                          </label>
                        </div>
                      <% }) %>
                    </div>
                    
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-passport">Passport</label>
                        <input class="form-control" type="file" id="passport" name="passport"  onchange="loadFile(event)" class="d-none" />
  
                          <img src="<%-data_view?.passport  ? data_view.passport : '/images/admin/placeholder.jpg'%>" alt="users avatar" class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer" height="90" width="90">
                          <div class="mt-50">
                              <h4></h4>
                          </div> 
                      </div>

                  <div class="mb-1">
                    <label class="form-label" for="basic-default-cv">Cv</label>
                      <input class="form-control" type="file" id="cv" name="cv" onchange="loadFile(event)" class="d-none" />

                        <img src="<%-data_view?.cv  ? data_view.cv : '/images/admin/placeholder.jpg'%>" alt="users avatar"  class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer" height="90" width="90">
                        <div class="mt-50">
                            <h4></h4>
                        </div> 
                    </div>

            

              <div class="mb-1">
                <label class="form-label" for="basic-default-name">Image</label>
                  <input class="form-control" type="file" id="image" name="image" onchange="loadFile(event)" class="d-none"/>

                    <img src="<%-data_view?.image  ? data_view.image : '/images/admin/images.png'%>" alt="users avatar"  class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer" height="90" width="90">
                    <div class="mt-50">
                        <h4></h4>
                    </div> 
                </div>
                
                <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                  <button type="submit" class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Save Changes</button>
                  <a href="/subadmin/maid_listing" class="btn btn-danger mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Back</a> 
                </div>

            </form>
                </div>
              </div>
            </div>
            <!-- /jQuery Validation -->
          </div>
          </section>
          <!-- /Validation -->

          <!-- users edit account form ends -->
        </div>
      </div>
    </div>
  </div>
  </section>

  </div>
  </div>
  </div>
  <!-- END: Content-->



  <%- include('../subadmincommon/footer.ejs'); %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $(document).ready(function() {
      jQuery.validator.addMethod("noSpace", function(value, element) {
        return value == '' || value.trim().length != 0;
      }, "No space please and don't leave it empty");

      jQuery.validator.addMethod("alphanumeric", function(value, element) {
        return this.optional(element) || /^[a-zA-Z0-9_]+$/.test(value);
      }, "Only letters, numbers, and underscores allowed");

      jQuery.validator.addMethod("validEmail", function(value, element) {
        return this.optional(element) || /^[a-zA-Z0-9_]+@[a-zA-Z0-9_]+\.[a-zA-Z]{2,3}$/.test(value) && value.endsWith('.com');
      }, "Please enter a valid email address ending with '.com'");

      jQuery.validator.addMethod("onlyNumbers", function(value, element) {
      return this.optional(element) || /^\d+$/.test(value);
     }, "Only numbers are allowed");

      $("#editmaid").validate({
        ignore: [],
        rules: {
          name: {
            required: true,
            minlength: 3,
            noSpace: true
          },
          nationality: {
            required: true,
            noSpace: true
          },
          age: {
            required: true,
            noSpace: true
          },
          experience: {
            required: true,
          },
    
          service_provider_service_type_id:{
            required: true,
          },
          language_id:{
            required: true,

          },
          salery:{
            required: true,
            noSpace: true,
            onlyNumbers: true

          },
          availablity:{
            required: true,
            noSpace: true,
          },
          degree: {
            required: true,
            noSpace: true
          },
          height: {
            required: true,
            noSpace: true,
            onlyNumbers: true

          },
          weight: {
            required: true,
            noSpace: true,
            onlyNumbers: true

          },
       

        },
        messages: {

          name: {
            required: "Name is a required field!!!",
            accept: "Please enter a vaild name ",
            noSpace: "Space not allowed"
          },
          nationality: {
            required: "Nationality is a required field!!!",
            noSpace: "Space not allowed"
          },

          age: {
            required: "Age is a required field!!!",
            noSpace: "Space not allowed",
          

          },
          experience: {
            required: "Experience is a required field!!!",
            noSpace: "Space not allowed"
          },
          nationality: {
            required: "Nationality is a required field!!!",
            noSpace: "Space not allowed"
          },
          service_provider_service_type_id:{
            required: "Service Type is a required field!!!",
          },
          salery:{
            required: "Salary is a required field!!!",
            noSpace: "Space not allowed"
          },
          language_id:{
            required: "Language is a required field!!!",
          },
          availablity: {
            required: "Availablity is a required field!!!",

          },
          degree:{
            required: "Degree is a required field!!!",

          },
          height:{
            required: "Height is a required field!!!",

          },
          weight:{
            required: "Weight is a required field!!!",

          },
        


        },
      })
    })

    $("#image").on('change', function() {
      // alert("dsfsdf")
      $("#image-error").hide()
    })
    $("#cv").on('change', function() {
      // alert("dsfsdf")
      $("#cv-error").hide()
    })
    $("#passport").on('change', function() {
      // alert("dsfsdf")
      $("#passport-error").hide()
    })

    document.addEventListener("DOMContentLoaded", function() {
    var today = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format
    document.getElementById("basic-default-age").setAttribute("max", today);
});


  </script>

