<%- include('serviceprovidercommon/header.ejs'); %>

<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

  <!-- BEGIN: Header-->
  <%- include('serviceprovidercommon/navbar.ejs'); %>
  <!-- END: Header-->


  <!-- BEGIN: Main Menu Sidebar -->
  <%- include('serviceprovidercommon/sidebar.ejs'); %>
  <!-- END: Main Menu Sidebar-->

  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <section class="app-user-edit">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">

                  <div class="tab-content">
                    <!-- Account Tab starts -->
                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                      <!-- users edit start -->

                      <!-- users edit ends -->
                      <!-- users edit account form start -->
                      <form action="" method="post" class="form-validate" novalidate="novalidate" enctype="multipart/form-data">

                        <div class="d-flex mb-2">
                          <input type="file" name="image" required>
                          <img src="<%-profile.image%>" alt="users avatar" class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer" height="90" width="90">
                          <div class="mt-50">
                            <h4><%-profile.name%></h4>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="mb-1">
                            <label class="form-label" for="name">Name</label>
                            <input required="text" class="form-control" placeholder="Name" value="<%-profile.name%>" name="name" id="name">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="mb-1">
                            <label class="form-label" for="email">E-mail</label>
                            <input disabled readonly type="email" class="form-control" placeholder="Email" value="<%-profile.email%>" name="email" id="email">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="mb-1">
                            <label class="form-label" for="company">Address</label>
                            <input required type="text" name="location" class="form-control" value="<%-profile.address%>" placeholder=" Enter Address" id="company" disabled readonly>
                          </div>
                        </div>

                        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                          <button type="submit" class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Save Changes</button>
                          <a href="/serviceprovider/dashboard" class="btn btn-danger mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Back</a>
                        </div>

                      </form>
                      <!-- users edit account form ends -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
  <!-- END: Content-->
  <%- include('serviceprovidercommon/footer.ejs'); %>