<%- include('../common/header.ejs'); %>

    <!-- END: Head-->

    <!-- BEGIN: Body-->

    <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
        data-menu="vertical-menu-modern" data-col="">

        <!-- BEGIN: Header-->
        <%- include('../common/navbar.ejs'); %>
            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('../common/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">Listing</h2>
                                    </div>
                                </div>
                            </div>

                            

                        </div>
                        <div class="content-body">
                            <!-- Basic table -->
                            <section id="basic-datatable">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card card-body table-responsive">

                                            <table class="table" id="myTable">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Message</th>
                                                        <th>Date</th>
                                                      
                                                    </tr>
                                                </thead>

                                                <% contactUs.forEach(function(user, i){ %>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= i+1 %>
                                                        </th>
                                                        <td>
                                                            <%=user?.name%>
                                                        </td>
                                                        <td>
                                                            <%=user?.email%>
                                                        </td>
                                                        <td>
                                                            <%=user?.message%>
                                                        </td>
                                                        <td><%= new Date(user.createdAt).toLocaleString() %></td>

                                                      
                                                     
                                                    </tr>
                                                    <% }); %>
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                            <!--/ Basic table -->
                        </div>
                    </div>
                </div>


                <!-- END: Content-->
                <%- include('../common/footer.ejs'); %>
                    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
                        rel="stylesheet">
                    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
                    <!-- DATA TABLE  -->
                    <script>
                        $(document).ready(function () {
                            $('#myTable').DataTable();
                        });

                    </script>
           