<%- include('../subadmincommon/header.ejs'); %>

<!-- END: Head-->
<!-- BEGIN: Body-->
<%- include('../subadmincommon/navbar.ejs'); %>

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

  <!-- BEGIN: Header-->


  <!-- END: Header-->


  <!-- BEGIN: Main Menu Sidebar -->
  <%- include('../subadmincommon/sidebar.ejs'); %>
  <!-- END: Main Menu Sidebar-->

  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-start mb-0">View</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">

        <div class="tab-content">
          <!-- Account Tab starts -->
          <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
            <!-- users edit start -->

            <!-- users edit ends -->
            <!-- users edit account form start -->
            <div class="col-md-6 col-12">
              <div class="card">
                <div class="card-body">
                  <form id="jquery-val-form" action="" method="post" enctype="multipart/form-data">
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-name">Name</label>
                      <input type="text" class="form-control" id="basic-default-name" name="name" value="<%-data_view?.name%>" placeholder="" readonly/>
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-name">Nationality</label>
                      <input type="text" class="form-control" id="basic-default-name" name="nationality" value="<%-data_view?.nationality%>" placeholder="" readonly />
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-name">Age</label>
                      <input type="date" class="form-control" id="basic-default-name" name="age" value="<%-data_view?.age%>" placeholder="" readonly />
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-name">Experience</label>
                      <input type="text" class="form-control" id="basic-default-name" name="experience" value="<%-data_view?.experience%>" placeholder="" readonly />
                    </div>

                    <div class="mb-1">
                      <label class="form-label" for="basic-default-name">Salary</label>
                      <input type="text" class="form-control" id="basic-default-name" name="salery" value="<%-data_view?.salery%>" placeholder="" readonly />
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-name">Degree</label>
                      <input type="text" class="form-control" id="basic-default-name" name="degree" value="<%-data_view?.degree%>" placeholder="" readonly />
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-name">Height</label>
                      <input type="text" class="form-control" id="basic-default-name" name="height" value="<%-data_view?.height%> cm"  placeholder="" readonly />
                    </div>

                    <div class="mb-1">
                      <label class="form-label" for="basic-default-name">Weight</label>
                      <input type="text" class="form-control" id="basic-default-name" name="weight" value="<%-data_view?.weight%> kg" placeholder="" readonly />
                    </div>
                
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-name">Availablity</label>
                      <%if(data_view?.availablity=='1'){%>
                        <input type="text" class="form-control" id="basic-default-name" name="weight" value="Available on order" placeholder="" readonly />
                      <%}else{%>
                        <input type="text" class="form-control" id="basic-default-name" name="weight" value="Available at office" placeholder="" readonly />
                      <%}%>
                    </div>

                 

                    <div class="mb-1">
                      <label class="form-label">Languages</label>
                      <% languages.forEach(function(language, index) { %>
                        <div class="form-check me-2">
                          <input
                            type="checkbox"
                            id="language_<%= index %>"
                            name="selectedLanguages"
                            value="<%= language.id %>"
                            class="form-check-input" disabled
                            <% if (savedLanguageIds.includes(language.id)) { %>checked<% } %>
                            <% if (!savedLanguageIds.includes(language.id)) { %>disabled<% } %>
                          />
                          <label class="form-check-label mt-0" for="language_<%= index %>">
                            <%= language.name %>
                          </label>
                        </div>
                      <% }) %>
                    </div>
                    

             

                    <div class="d-flex mb-2">
                                            
                      <img src="<%-data_view?.passport ? data_view.passport : '/images/admin/placeholder.jpg'%>" alt="users avatar" class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer" height="90" width="90">
                      <div class="mt-50">
                          <h4>Passport</h4>
                      </div> 
                  </div>

                  <div class="d-flex mb-2">
                                            
                    <img src="<%-data_view?.cv ? data_view.cv : '/images/admin/placeholder.jpg'%>" alt="users avatar" class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer" height="90" width="90">
                    <div class="mt-50">
                        <h4>Cv</h4>
                    </div> 
                </div>

                <div class="d-flex mb-2">
                                            
                  <img src="<%-data_view?.image ? data_view.image : '/images/admin/images.png'%>" alt="users avatar" class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer" height="90" width="90">
                  <div class="mt-50">
                      <h4>Image</h4>
                  </div> 
              </div>
                    
              <a href="/subadmin/maid_listing" class="btn btn-danger mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Back</a> 
            </form>
                </div>
              </div>
            </div>
            <!-- /jQuery Validation -->
          </div>
          </section>
          <!-- /Validation -->

          <!-- users edit account form ends -->
        </div>
      </div>
    </div>
  </div>
  </section>

  </div>
  </div>
  </div>
  <!-- END: Content-->



  <%- include('../subadmincommon/footer.ejs'); %>