<%- include('subadmincommon/header.ejs'); %>

    <!-- END: Head-->

    <!-- BEGIN: Body-->

    <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
        data-menu="vertical-menu-modern" data-col="">

        <!-- BEGIN: Header-->
        <%- include('subadmincommon/navbar.ejs'); %>
            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('subadmincommon/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                        </div>
                        <div class="content-body">
                            <!-- Dashboard Analytics Start -->
                            <section id="dashboard-analytics">

                                <div class="row match-height">

                                    <!-- Subscribers Chart Card starts -->
                                    <a href="/subadmin/maid_listing" class="col-lg-3 col-sm-6 col-12">
                                        <div>
                                            <div class="card dash_card">
                                                <div class="card-header flex-column align-items-center pb-2">
                                                    <div class="avatar bg-light-primary p-50 m-0">
                                                        <div class="avatar-content">
                                                            <i data-feather="users" class="font-medium-3"></i>
                                                        </div>
                                                    </div>
                                                    <h2 class="fw-bolder mt-1"><%-maidCount%></h2>
                                                    <p class="card-text">Maids</p>
                                                </div>
                                             
                                            </div>
                                        </div>
                                    </a>


                                    <!-- Subscribers Chart Card ends -->

                                    <!-- Orders Chart Card starts -->
                                    <a href="/subadmin/chef_listing" class="col-lg-3 col-sm-6 col-12">
                                        <div class="card dash_card">
                                            <div class="card-header flex-column align-items-center pb-2">
                                                <div class="avatar bg-light-warning p-50 m-0">
                                                    <div class="avatar-content">
                                                        <i data-feather="users" class="font-medium-3"></i>
                                                    </div>
                                                </div>
                                                <h2 class="fw-bolder mt-1"><%-chefCount%></h2>
                                                <p class="card-text">Chefs</p>
                                            </div>
                                         
                                        </div>
                                    </a>

                                    <a href="/subadmin/driver_listing" class="col-lg-3 col-sm-6 col-12">
                                        <div class="card dash_card">
                                            <div class="card-header flex-column align-items-center pb-2">
                                                <div class="avatar bg-light-success p-50 m-0">
                                                    <div class="avatar-content">
                                                        <i data-feather="users" class="font-medium-3"></i>
                                                    </div>
                                                </div>
                                                <h2 class="fw-bolder mt-1"><%-driverCount%></h2>
                                                <p class="card-text">Drivers</p>
                                            </div>
                                           
                                        </div>
                                    </a>

                                    <a href="/subadmin/subadmin_booking_listing" class="col-lg-3 col-sm-6 col-12">
                                        <div class="card dash_card">
                                            <div class="card-header flex-column align-items-center pb-2">
                                                <div class="avatar bg-light-info p-50 m-0">
                                                    <div class="avatar-content">
                                                        <i data-feather="bookmark" class="font-medium-3"></i>
                                                    </div>
                                                </div>
                                                <h2 class="fw-bolder mt-1"><%-bookingsCount%></h2>
                                                <p class="card-text">Bookings</p>
                                            </div>
                                            
                                        </div>
                                    </a>
                                    <!-- Orders Chart Card ends -->

                                </div>
                            </section>
                            <!-- Dashboard Analytics end -->

                        </div>
                    </div>
                </div>
                <!-- END: Content-->
                <%- include('subadmincommon/footer.ejs'); %>