<%- include('../common/header.ejs'); %>

<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

  <!-- BEGIN: Header-->
  <%- include('../common/navbar.ejs'); %>
  <!-- END: Header-->


  <!-- BEGIN: Main Menu Sidebar -->
  <%- include('../common/sidebar.ejs'); %>
  <!-- END: Main Menu Sidebar-->

  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-start mb-0">Listing</h2>
            </div>
          </div>
        </div>



      </div>
      <div class="content-body">
        <!-- Basic table -->
        <section id="basic-datatable">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card card-body table-responsive">

                  <table class="table" id="myTable">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Request By</th>
                        <th>User Type</th>
                        <th>Bank Name</th>
                        <th>Account Number</th>
                        <th>Amount</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <% data.forEach((key,i)=>{ %>
                    <tr>
                      <td><%= i + 1%></td>
                      <td><%= key.user.name %> </td>
                      <td>
                        <%if(key.user.role==2){%>
                           Sub Admin
                        <%}else{%>
                            Service Provider
                        <%}%>
                      </td>
                      <td><%= key.bank.bank_name %></td>
                      <td><%= key.bank.bank_account %></td>
                      <td><%=key.amount%></td>
                      <td>
                        <select class="statuschange" data-id="<%= key.id %>" <% if (key.status != '0') { %> disabled <% } %>>

                          <option value="0" <% if (key.status == 0) { %> selected <% } %>>Pending</option>
                          <option value="1" <% if (key.status == 1) { %> selected <% } %>>Accept</option>
                          <option value="2" <% if (key.status == 2) { %> selected <% } %>>Reject</option>

                        </select>
                      </td>


                    </tr>
                    <% }); %>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </section>
        <!--/ Basic table -->
      </div>
    </div>
  </div>


  <!-- END: Content-->
  <%- include('../common/footer.ejs'); %>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <!-- DATA TABLE  -->
  <script>
    $(document).ready(function() {
      $('#myTable').DataTable();
    });
  </script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/sweetalert2.all.min.js"></script>


  <script>
    $(document).ready(function() {
      $('.statuschange').on("change", function() {
        var id = $(this).attr('data-id');
        var value = $(this).val();

        $.ajax({
          type: "POST",
          url: "/admin/withdrawl_accept_reject",
          data: {
            id: id,
            value: value
          },
          success: function(data2) {
            console.log(data2);
            Swal.fire({
              icon: 'success',
              title: 'Status updated successfully',
              showConfirmButton: false,
              timer: 1500
            }).then(function() {
              window.location.reload();
            });
          },
          error: function(err) {
            console.log(err, "errrrrrrrrr");
            Swal.fire({
              icon: 'error',
              title: 'An error occurred',
              text: 'Status not updated'
            });
          }
        });
      });
    });
  </script>