<%- include('../common/header.ejs'); %>

    <!-- END: Head-->

    <!-- BEGIN: Body-->

    <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
        data-menu="vertical-menu-modern" data-col="">

        <!-- BEGIN: Header-->
        <%- include('../common/navbar.ejs'); %>
            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('../common/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">Listing</h2>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="content-body">
                            <!-- Basic table -->
                            <section id="basic-datatable">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card card-body table-responsive">

                                            <table class="table" id="myTable">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>Name</th>
                                                        <th>Subadmin Name</th>
                                                        <th>Image</th>
                                                        <th>Nationality</th>
                                                        <th>Age</th>
                                                        <th>Experience</th>
                                                        <th>Salary</th>
                                                        <th>Degree</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>

                                                <% find_user.forEach(function(user, i){ %>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= i+1 %>
                                                        </th>
                                                        <td>
                                                            <%= user?.name %>
                                                        </td>
                                                        <td>
                                                            <%= user?.user?.name %>
                                                        </td>
                                                     

                                                        <td>
                                                            <img src="<%= user?.image ? user.image : '/images/admin/images.png' %>" 
                                                                 height="80px" 
                                                                 width="80px" 
                                                                 style="border-radius: 10px;">
                                                        </td>
                                                        
                                                        
                                                        
                                                        <td>
                                                            <%= user?.nationality %>
                                                        </td>
                                                        <td>
                                                            <%= user?.age %>
                                                        </td>
                                                        <td>
                                                            <%= user?.experience %>
                                                        </td>
                                                        <td>
                                                            <%= user?.salery %>
                                                        </td>
                                                        <td>
                                                            <%= user?.degree %>
                                                        </td>
                                                      
                                                        <td>
                                                            
                                                            <input type="checkbox" value="<%= user.id %>"
                                                                class="toggle_data" data-toggle="toggle"
                                                                data-on="Active" data-off="Inactive" disabled
                                                                data-onstyle="success" data-offstyle="danger"
                                                                <%=user.status==1? "checked" :''%>>
                                                            </td>

                                                   
                                                     
                                                    </tr>
                                                    <% }); %>
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                            <!--/ Basic table -->
                        </div>
                    </div>
                </div>


                <!-- END: Content-->
                <%- include('../common/footer.ejs'); %>
                    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
                        rel="stylesheet">
                    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
                    <!-- DATA TABLE  -->
                    <script>
                        $(document).ready(function () {
                            $('#myTable').DataTable();
                        });

  
