<%- include('../subadmincommon/header.ejs'); %>

    <!-- END: Head-->

    <!-- BEGIN: Body-->

    <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
        data-menu="vertical-menu-modern" data-col="">

        <!-- BEGIN: Header-->
        <%- include('../subadmincommon/navbar.ejs'); %>
            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('../subadmincommon/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">About Us</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-body">
                            <section class="app-user-edit">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="tab-content">
                                            <!-- Account Tab starts -->
                                            <div class="tab-pane active" id="account" aria-labelledby="account-tab"
                                                role="tabpanel">
                                                <!-- users edit start -->

                                                <!-- users edit ends -->
                                                <!-- users edit account form start -->
                                                <form action="" method="post" class="form-validate"
                                                    novalidate="novalidate" enctype="multipart/form-data">


                                                    <div class="col-md-10">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="title">Title</label>
                                                            <input disabled readonly required="text" class="form-control"
                                                                placeholder="Title" value="<%= aboutus.title%>" name="title" id="title">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="content">Content</label>
                                                            <textarea  class="form-control textcolor" name="content"
                                                                id="summernote" cols="10" rows="50" disabled readonly><%-aboutus.content%></textarea>
                                                            <!-- <input   type="content" class="form-control" placeholder="Content" value="" name="content" id="content"> -->
                                                        </div>
                                                    </div>


                                                    <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <!-- <button type="submit"
                                                            class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Save
                                                            Changes</button> -->
                                                        <a href="/subadmin/dashboard"
                                                            class="btn btn-danger mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Back</a>
                                                    </div>

                                                </form>
                                                <!-- users edit account form ends -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
                <!-- END: Content-->
                <%- include('../subadmincommon/footer.ejs'); %>
                    <!-- <script>
                        $('#summernote').summernote({
                            placeholder: 'About Us',
                            tabsize: 2,
                            height: 300,
                            toolbar: [
                                ['style', ['style']],
                                ['font', ['bold', 'underline', 'clear']],
                                ['color', ['color']],
                                ['para', ['ul', 'ol', 'paragraph']],
                                ['table', ['table']],
                                ['insert', ['link',]],
                                ['view', ['fullscreen', 'codeview', 'help']]
                            ]
                        });
                    </script> -->