<%- include('../serviceprovidercommon/header.ejs'); %>

    <!-- END: Head-->

    <!-- BEGIN: Body-->

    <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
        data-menu="vertical-menu-modern" data-col="">

        <!-- BEGIN: Header-->
        <%- include('../serviceprovidercommon/navbar.ejs'); %>
            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('../serviceprovidercommon/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">Listing</h2>
                                    </div>
                                </div>
                            </div>

                            

                        </div>
                        <div class="content-body">
                            <!-- Basic table -->
                            <section id="basic-datatable">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card card-body table-responsive">

                                            <table class="table" id="myTable">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>User Name</th>
                                                        <th>Phone</th>
                                                        <th>Address</th>
                                                        <th>Block</th>
                                                        <th>Street</th>
                                                        <th>House/Aportment</th>
                                                        <th>Description</th>
                                                        <th>Booking Date</th>
                                                        <th>Amount</th>
                                                        <th>Payment Method</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>

                                                <% find_user.forEach(function(user, i){ %>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= i+1 %>
                                                        </th>
                                                        <td>
                                                            <%=user?.user_details?.name%>
                                                        </td>
                                                        <td>
                                                            <%=user?.user_details?.phone%>
                                                        </td>
                                                        <td>
                                                            <%=user?.user_details?.address%>
                                                        </td>
                                                        <td><%=user?.user_details?.block%></td>
                                                        <td><%=user?.user_details?.street%></td>
                                                        <td><%=user?.user_details?.house%></td>
                                                        <td><%=user?.user_details?.description%></td>
                                                        <td><%= new Date(user.createdAt).toLocaleString() %></td>
                                                        <td>
                                                            <%=user?.amount%>
                                                        </td>
                                                        <td>
                                                            <%if(user?.payment_method==1){%>
                                                                Cash
                                                            <%}else{%>
                                                               KNET
                                                            <%}%>
                                                        </td>

                                                        <td>
                                                            <select name="status" class="status_select py-1 mt-2 statuschange" id="status_<%= i %>" data-id="<%= user.id %>" >
                                                                <option value="0" <%= user.status === 0 ? 'selected' : '' %>>Pending</option>
                                                                <option value="1" <%= user.status === 1 ? 'selected' : '' %>>Ongoing</option>
                                                                <option value="2" <%= user.status === 2 ? 'selected' : '' %>>Complete</option>
                                                              </select>                                                        
                                                            </td>
                                                     
                                                     
                                                    </tr>
                                                    <% }); %>
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                            <!--/ Basic table -->
                        </div>
                    </div>
                </div>


                <!-- END: Content-->
                <%- include('../serviceprovidercommon/footer.ejs'); %>
                    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
                        rel="stylesheet">
                    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
                    <!-- DATA TABLE  -->
                    <script>
                        $(document).ready(function () {
                            $('#myTable').DataTable();
                        });

                    </script>
               
               <script>
                $(document).ready(function() {
                  $('.statuschange').on("change", function() {
                    var id = $(this).attr('data-id');
                    var value = $(this).val();
              
              
                
                    $.ajax({
                      type: "POST",
                      url: "/serviceprovider/status_accept_reject",
                      data: {
                        id: id,
                        value: value,              
                      },
                      success: function(data2) {
                        console.log(data2);
                        Swal.fire({
                          icon: 'success',
                          title: 'Status updated successfully',
                          showConfirmButton: false, 
                          timer: 1500 
                        }).then(function() {
                          window.location.reload();
                        });
                      },
                      error: function(err) {
                        console.log(err, "errrrrrrrrr");
                        Swal.fire({
                          icon: 'error',
                          title: 'An error occurred',
                          text: 'Status not updated'
                        });
                      }
                    });
                  });
                });
                
                        </script>