<%- include('../common/header.ejs'); %>

    <!-- END: Head-->

    <!-- BEGIN: Body-->

    <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
        data-menu="vertical-menu-modern" data-col="">

        <!-- BEGIN: Header-->
        <%- include('../common/navbar.ejs'); %>
            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('../common/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">Listing</h2>
                                    </div>
                                </div>
                            </div>

                            

                        </div>
                        <div class="content-body">
                            <!-- Basic table -->
                            <section id="basic-datatable">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card card-body table-responsive">

                                            <table class="table" id="myTable">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>User Name</th>
                                                        <th>Phone</th>
                                                        <th>Address</th>
                                                        <th>Book To</th>
                                                        <th>Book To User</th>
                                                        <th>Total Amount</th>
                                                        <th>Pending Amount</th>
                                                        <th>Service Fees</th>
                                                        <th>Payment Method</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>

                                                <% find_user.forEach(function(user, i){ %>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= i+1 %>
                                                        </th>
                                                        <td>
                                                            <%=user?.user_details?.name%>
                                                        </td>
                                                        <td>
                                                            <%=user?.user_details?.phone%>
                                                        </td>
                                                        <td>
                                                            <%=user?.user_details?.address%>
                                                        </td>
                                                        <td>
                                                            <%if(user?.type==4){%>
                                                                Service Provider
                                                            <%}else if(user?.type==1){%>
                                                                Maid
                                                            <%}else if(user?.type==2){%>
                                                                Chef
                                                            <%}else if(user?.type==3){%>
                                                                Driver
                                                                <%}%>
                                                        </td>

                                                        <td>
                                                            <%if(user?.type==4){%>
                                                                <%=user?.service_provider_name%>
                                                            <%}else {%>
                                                                <%=user?.subadmin_user_name%>
                                                            <%}%>
                                                        </td>
                                                        <td>
                                                            <%=user?.amount%>
                                                        </td>
                                                        <td>
                                                            <%=user?.pending_amount%>
                                                        </td>
                                                        <td>
                                                            <%=user?.service_fee_amount%>
                                                        </td>
                                                        <td>
                                                            <%if(user?.payment_method==1){%>
                                                                Cash
                                                            <%}else{%>
                                                               KNET
                                                            <%}%>
                                                        </td>

                                                        <td>
                                                                   
                                                              <%if(user?.status==0){%>
                                                                Pending
                                                            <%}else if(user?.status==1){%>
                                                               Ongoing
                                                            <%}else{%>
                                                                Complete
                                                            <%}%>
                                                            </td>
                                                     
                                                     
                                                    </tr>
                                                    <% }); %>
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                            <!--/ Basic table -->
                        </div>
                    </div>
                </div>


                <!-- END: Content-->
                <%- include('../common/footer.ejs'); %>
                    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
                        rel="stylesheet">
                    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
                    <!-- DATA TABLE  -->
                    <script>
                        $(document).ready(function () {
                            $('#myTable').DataTable();
                        });

                    </script>
           