.invoice-list-wrapper .dataTables_wrapper .dataTables_length label,
.invoice-list-wrapper .dataTables_wrapper .dataTables_filter label {
  margin-top: 0.55rem; }

.invoice-list-wrapper .dataTables_wrapper .dataTables_length select {
  margin-left: 0.5rem; }

.invoice-list-wrapper .dataTables_wrapper .invoice-list-table thead th:before, .invoice-list-wrapper .dataTables_wrapper .invoice-list-table thead th:after {
  left: auto; }

.invoice-list-wrapper .dataTables_wrapper .invoice-list-table thead th:last-child:before, .invoice-list-wrapper .dataTables_wrapper .invoice-list-table thead th:last-child:after {
  display: none; }

.invoice-list-wrapper .dataTables_wrapper .invoice-list-table tbody .control:before {
  background-color: #016b82;
  line-height: 1rem;
  font-family: var(--bs-font-sans-serif); }

.invoice-list-wrapper .dataTables_wrapper .invoice-list-table tbody .col-actions a:not(.dropdown-item) {
  color: #6e6b7b; }

.invoice-list-wrapper .dataTables_wrapper .invoice-list-table tbody .col-actions .dropdown .dropdown-item {
  display: flex;
  align-items: center; }

@media (max-width: 470px) {
  .invoice-list-wrapper .invoice_status {
    margin-top: 1rem;
    width: 100%; }
  .invoice-list-wrapper .invoice_status select {
    margin-left: 0 !important; } }

.dtr-bs-modal .modal-header {
  flex-direction: row-reverse; }

.dtr-bs-modal .modal-body {
  padding-left: 0;
  padding-right: 0; }

.dtr-bs-modal .modal-body .table tr td {
  border-color: #ebe9f1; }

.dtr-bs-modal .modal-body .table tr td .col-actions a:not(.dropdown-item) {
  color: #6e6b7b; }
