<%- include('../subadmincommon/header.ejs'); %>
<style>
  .error {
    color: red !important;
    font-size: 12px !important;
  }

  .iti {
    width: 100%;
  }
</style>

<!-- END: Head-->
<!-- BEGIN: Body-->
<%- include('../subadmincommon/navbar.ejs'); %>

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

  <!-- BEGIN: Header-->


  <!-- END: Header-->


  <!-- BEGIN: Main Menu Sidebar -->
  <%- include('../subadmincommon/sidebar.ejs'); %>
  <!-- END: Main Menu Sidebar-->

  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-start mb-0">Notifications</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">

        <div class="tab-content">
          <!-- Account Tab starts -->
          <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
            <!-- users edit start -->

            <!-- users edit ends -->
            <!-- users edit account form start -->
            <div class="col-md-6 col-12">
            
            </div>
            <div class="content-body">
                <!-- Basic table -->
                <section id="basic-datatable">
                  <div class="row">
                    <div class="col-12">
                      <div class="card card-body table-responsive">
                        <table class="table" id="myTable">
                          <thead>
                            <tr>
                              <th>S.No</th>
                              <th>Send By</th>
                              <th>Message</th>
                              <th>Date</th>

                            </tr>
                          </thead>

                          <% AllNotifications.forEach(function(notification, i){ %>
                          <tr>
                            <th scope="row">
                              <%= i+1 %>
                            </th>
                            <td><%=notification.senderDetail.name%> </td>
                            <td><%=notification.message%></td>
                            <td><%= new Date(notification.createdAt).toLocaleString() %></td>

                          </tr>
                          <% }); %>
                        </table>
                      </div>
                    </div>
                  </div>

                </section>
                <!--/ Basic table -->
              </div>
            <!-- /jQuery Validation -->
          </div>
          </section>
          <!-- /Validation -->

          <!-- users edit account form ends -->
        </div>
      </div>
    </div>
  </div>
  </section>

  </div>
  </div>
  </div>
  <!-- END: Content-->


</body>


</html>

  <%- include('../subadmincommon/footer.ejs'); %>
  <!-- Include CSS file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">

  <!-- Include JavaScript file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js"></script>


  <script src="../../js/pages/forms/basic-form-elements.js"></script>

