<%- include('../common/header.ejs'); %>
<style>
  .error {
    color: red !important;
    font-size: 12px !important;
  }
  
  .iti{
    width: 100%;
  }
  

  
</style>

<!-- END: Head-->
<!-- BEGIN: Body-->
<%- include('../common/navbar.ejs'); %>

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

  <!-- BEGIN: Header-->


  <!-- END: Header-->


  <!-- BEGIN: Main Menu Sidebar -->
  <%- include('../common/sidebar.ejs'); %>
  <!-- END: Main Menu Sidebar-->

  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-start mb-0">Add</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">

        <div class="tab-content">
          <!-- Account Tab starts -->
          <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
            <!-- users edit start -->

            <!-- users edit ends -->
            <!-- users edit account form start -->
            <div class="col-md-6 col-12">
              <div class="card">
                <div class="card-body">
                  <form id="addserviceprovider" action="/admin/service_provider_post" method="post" enctype="multipart/form-data">
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-name">Name</label>
                      <input type="text" class="form-control" id="basic-default-name" name="name" placeholder="Enter name" />
                    </div>

                    <div class="mb-1">
                      <label class="form-label" for="basic-default-email">Email</label>
                      <input type="email" class="form-control" id="basic-default-email" name="email" placeholder="Enter email"  />
                    </div>

                    <div class="mb-1">
                      <label class="form-label" for="basic-default-phone">Phone</label>
                      <input type="tel" class="form-control" id="basic-default-phone" name="phone" placeholder="Enter Phone"  />
                      <input type="hidden" id="country-code" name="country_code">

                    </div>

                    <div class="mb-1">
                      <label class="form-label" for="basic-default-experience">Experience</label>
                      <input type="text" class="form-control" id="basic-default-experience" name="experience" placeholder="Enter experience" />
                    </div>
                    <div class="mb-1 all_check_veli">
                      <label class="form-label">Languages</label>
                      <% languages.forEach(language => { %>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="language-<%= language.id %>" name="language_id" value="<%= language.id %>">
                          <label class="form-check-label" for="language-<%= language.id %>"><%= language.name %></label>
                        </div>
                      <% }); %>
                    </div>

                    <div class="mb-1 all_check_veli">
                      <label class="form-label">Service Type</label>
                      <% services.forEach(languages => { %>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="languages-<%= languages.id %>" name="service_provider_service_type_id" value="<%= languages.id %>">
                          <label class="form-check-label" for="languages-<%= languages.id %>"><%= languages.name %></label>
                        </div>
                      <% }); %>
                    </div>

                    <!-- <div class="mb-1">
                      <label class="form-label" for="service-type">Service Type</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          
                        </div>
                        <select class="form-control" id="service-type" name="service_provider_service_type_id" >
                          <option value="" disabled selected>Select Service Type</option>
                          <% services.forEach(service => { %>
                            <option value="<%= service.id %>"><%= service.name %></option>
                          <% }); %>
                        </select>
                      </div>
                    </div> -->
                    
                    

                    <div class="mb-1">
                      <label class="form-label" for="basic-default-nationality">Nationality</label>
                      <input type="text" class="form-control" id="basic-default-nationality" name="nationality" placeholder="Enter nationality" />
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="basic-default-salary">Salary</label>
                      <input type="text" class="form-control" id="basic-default-salary" name="salery" placeholder="Enter salery" />
                    </div>
                    <!-- <div class="mb-1">
                      <label class="form-label" for="service-type">Availablity</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          
                        </div>
                        <select class="form-control" id="service-type" name="availablity" required>
                          <option value="" disabled selected>Select Availablity</option>
                            <option value="1">Available on order</option>
                            <option value="2">Available on office</option>
                        </select>
                      </div>
                    </div> -->
                    <input type="hidden" name="role" value="3">

                    <div class="mb-1">
                      <label for="image" class="form-label">Image</label>
                      <input class="form-control" type="file" id="image" onchange="loadFile(event)" class="d-none" name="image" />
                    </div>

                    <div class="mb-1">
                      <label class="form-label" for="basic-default-password">Password</label>
                      <input type="password" class="form-control" id="basic-default-password" name="password" placeholder="Enter Password" />
                    </div>

                    <button type="submit" class="btn btn-primary" name="submit" value="Submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>
            <!-- /jQuery Validation -->
          </div>
          </section>
          <!-- /Validation -->

          <!-- users edit account form ends -->
        </div>
      </div>
    </div>
  </div>
  </section>

  </div>
  </div>
  </div>
  <!-- END: Content-->



  <%- include('../common/footer.ejs'); %>
  <!-- Include CSS file -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">

<!-- Include JavaScript file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $(document).ready(function() {
      jQuery.validator.addMethod("noSpace", function(value, element) {
        return value == '' || value.trim().length != 0;
      }, "No space please and don't leave it empty");

      jQuery.validator.addMethod("alphanumeric", function(value, element) {
        return this.optional(element) || /^[a-zA-Z0-9_]+$/.test(value);
      }, "Only letters, numbers, and underscores allowed");

      jQuery.validator.addMethod("validEmail", function(value, element) {
        return this.optional(element) || /^[a-zA-Z0-9_]+@[a-zA-Z0-9_]+\.[a-zA-Z]{2,3}$/.test(value) && value.endsWith('.com');
      }, "Please enter a valid email address ending with '.com'");

      jQuery.validator.addMethod("onlyNumbers", function(value, element) {
      return this.optional(element) || /^\d+$/.test(value);
     }, "Only numbers are allowed");

      $("#addserviceprovider").validate({
        ignore: [],
        rules: {
          name: {
            required: true,
            minlength: 3,
            noSpace: true
          },
          email: {
            required: true,
            remote: "/admin/check_serviceprovider_email",
            email: true,
            validEmail: true,
            noSpace: true
          },
          phone: {
            required: true,
            minlength:8,
            maxlength:12,
            noSpace: true
          },
          experience: {
            required: true,
          },
          nationality:{
            required: true,
            noSpace: true

          },
          service_provider_service_type_id:{
            required: true,
          },
          language_id:{
            required: true,

          },
          salery:{
            required: true,
            noSpace: true,
            onlyNumbers: true

          },
          password: {
            required: true,
            minlength: 6,
            noSpace: true
          },

          image: {
            required: true
          },

        },
        messages: {

          name: {
            required: "Name is a required field!!!",
            accept: "Please enter a vaild name ",
            noSpace: "Space not allowed"
          },
          email: {
            required: "Email is a required field!!!",
            remote: "Email already exist",
            noSpace: "Space not allowed"
          },

          phone: {
            required: "Phone is a required field!!!",
            noSpace: "Space not allowed",
            minlength:"Minimum phone number length should be 8",
            maxlength:"Maximum phone number length should be 8"

          },
          experience: {
            required: "Experience is a required field!!!",
            noSpace: "Space not allowed"
          },
          nationality: {
            required: "Nationality is a required field!!!",
            noSpace: "Space not allowed"
          },
          service_provider_service_type_id:{
            required: "Service Type is a required field!!!",
          },
          salery:{
            required: "Salary is a required field!!!",
            noSpace: "Space not allowed"
          },
          language_id:{
            required: "Language is a required field!!!",
          },
          password: {
            required: "Password is a required field!!!",
            minlength: "Minimum password length should be 6",
            noSpace: "Space not allowed"

          },
          image: {
            required: "Image is a required field!!!",
          },


        },
      })
    })

    $("#image").on('change', function() {
      // alert("dsfsdf")
      $("#image-error").hide()
    })

    $(document).ready(function() {
    var input = document.querySelector("#basic-default-phone");
    var iti = window.intlTelInput(input, {
        // Options, if needed
    });

    // Update hidden input value with country code when country changes
    input.addEventListener("countrychange", function(e) {
        var countryData = iti.getSelectedCountryData();
        $("#country-code").val(countryData.dialCode);
    });

    // Get the selected country code and phone number on form submission
    $("#subadminadd").submit(function(event) {
        event.preventDefault();
        var phoneNumber = iti.getNumber();
        var countryCode = $("#country-code").val();
        console.log("Country Code: " + countryCode);
        console.log("Phone Number: " + phoneNumber);

        // Set the country code value in the form data
        $("#country-code").attr("name", "country_code").val(countryCode);

        // Now you can submit the form or perform other actions
        this.submit();
    });
});


  </script>

  