<%- include('../common/header.ejs'); %>

  <!-- END: Head-->
  <!-- BEGIN: Body-->
  <%- include('../common/navbar.ejs'); %>
  <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
  data-menu="vertical-menu-modern" data-col="">
  
  <!-- BEGIN: Header-->


      <!-- END: Header-->


      <!-- BEGIN: Main Menu Sidebar --> 
      <%- include('../common/sidebar.ejs'); %>
        <!-- END: Main Menu Sidebar-->

        <!-- BEGIN: Content-->
        <div class="app-content content ">
          <div class="content-overlay"></div>
          <div class="header-navbar-shadow"></div>
          <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">View</h2>
                        </div>
                    </div>
                </div>
            </div>
                  <div class="card-body">

                    <div class="tab-content">
                      <!-- Account Tab starts -->
                      <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                        <!-- users edit start -->

                        <!-- users edit ends -->
                        <!-- users edit account form start -->
                        <div class="col-md-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <form id="jquery-val-form" action="/admin/service_provider_update/<%-data_view?.id%>" method="post" enctype="multipart/form-data">
                                        <div class="mb-1">
                                            <label class="form-label" for="basic-default-name">Name</label>
                                            <input type="text" class="form-control" id="basic-default-name" name="name" value="<%-data_view?.name%>" placeholder="Example- Music" readonly />
                                        </div>

                                        <div class="mb-1">
                                          <label class="form-label" for="basic-default-name">Email</label>
                                          <input type="text" class="form-control" id="basic-default-name" name="email" value="<%-data_view?.email%>" placeholder="Example- Music" readonly />
                                      </div>

                                      <div class="mb-1">
                                        <label class="form-label" for="basic-default-name">Phone</label>
                                        <input type="text" class="form-control" id="basic-default-name" name="phone" value="<%-data_view?.phone%>" placeholder="Enter Phone"  readonly/>
                                      </div>
                                      <div class="mb-1">
                                        <label class="form-label" for="basic-default-name">Experience</label>
                                        <input type="text" class="form-control" id="basic-default-name" name="experience" value="<%-data_view?.experience%>"  placeholder="Enter experience" readonly/>
                                      </div>
                                      <div class="mb-1">
                                        <label class="form-label">Languages</label>
                                        <% languages.forEach(function(language, index) { %>
                                          <div class="form-check me-2">
                                            <input
                                              type="checkbox"
                                              id="language_<%= index %>"
                                              name="selectedLanguages"
                                              value="<%= language.id %>"
                                              class="form-check-input" disabled
                                              <% if (savedLanguageIds.includes(language.id)) { %>checked<% } %>
                                              <% if (!savedLanguageIds.includes(language.id)) { %>disabled<% } %>
                                            />
                                            <label class="form-check-label mt-0" for="language_<%= index %>">
                                              <%= language.name %>
                                            </label>
                                          </div>
                                        <% }) %>
                                      </div>

                                      <div class="mb-1">
                                        <label class="form-label">Service Type</label>
                                        <% services.forEach(function(language, index) { %>
                                          <div class="form-check me-2">
                                            <input
                                              type="checkbox"
                                              id="language_<%= index %>"
                                              name="selectedLanguages"
                                              value="<%= language.id %>"
                                              class="form-check-input" disabled
                                              <% if (savedserviceProviderIds.includes(language.id)) { %>checked<% } %>
                                              <% if (!savedserviceProviderIds.includes(language.id)) { %>disabled<% } %>
                                            />
                                            <label class="form-check-label mt-0" for="language_<%= index %>">
                                              <%= language.name %>
                                            </label>
                                          </div>
                                        <% }) %>
                                      </div>

                                      
                                      

                                      <!-- <div class="mb-1">
                                        <label class="form-label" for="basic-default-name">Service Type</label>
                                        <input type="text" class="form-control" id="basic-default-name" name="experience" value="<%-data_view?.service_type_name%>"  placeholder="Enter experience" readonly/>
                                      </div>
                                       -->
                                      
                                      
                                      
                  
                                      <div class="mb-1">
                                        <label class="form-label" for="basic-default-name">Nationality</label>
                                        <input type="text" class="form-control" id="basic-default-name" name="nationality"  value="<%-data_view?.nationality%>"  placeholder="Enter nationality" readonly />
                                      </div>
                                      <div class="mb-1">
                                        <label class="form-label" for="basic-default-name">Salary</label>
                                        <input type="text" class="form-control" id="basic-default-name" name="salery" placeholder="Enter salery" value="<%-data_view?.salery%>" readonly />
                                      </div>
                                      <!-- <div class="mb-1">
                                        <label class="form-label" for="basic-default-name">Availablity</label>
                                        <%if(data_view?.availablity=='1'){%>
                                          <input type="text" class="form-control" id="basic-default-name" name="weight" value="Available on order" placeholder="" readonly />
                                        <%}else{%>
                                          <input type="text" class="form-control" id="basic-default-name" name="weight" value="Available on office" placeholder="" readonly />
                                        <%}%>
                                      </div> -->
                                      
                                        <div class="d-flex mb-2">
                                            
                                            <img src="<%-data_view?.image ? data_view.image : '/images/admin/images.png'%>" alt="users avatar" class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer" height="90" width="90">
                                            <div class="mt-50">
                                                <h4></h4>
                                            </div> 
                                        </div>
                                      
                                        <!-- <div class="mb-1">
                                            <label for="image" class="form-label">Image</label>
                                            <input class="form-control" type="file" id="image" name="image" />
                                        </div> -->
                                        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                          <!-- <button type="submit" class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Save Changes</button> -->
                                          <a href="/admin/service_provider_listing" class="btn btn-danger mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Back</a> 
                                      </div>
                                        <!-- <button type="submit" class="btn btn-primary" name="submit" value="Submit">Submit</button> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /jQuery Validation -->
                    </div>
                </section>
                <!-- /Validation -->

                        <!-- users edit account form ends -->
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </div>
          </div>
        </div>
        <!-- END: Content-->
  


        <%- include('../common/footer.ejs'); %>