<%- include('../subadmincommon/header.ejs'); %>
<style>
  .error {
    color: red !important;
    font-size: 12px !important;
  }
</style>

<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

  <!-- BEGIN: Header-->
  <%- include('../subadmincommon/navbar.ejs'); %>
  <!-- END: Header-->


  <!-- BEGIN: Main Menu Sidebar -->
  <%- include('../subadmincommon/sidebar.ejs'); %>
  <!-- END: Main Menu Sidebar-->

  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-start mb-0">Add</h2>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-12">
        <div class="card">
          <div class="card-body">
            <form id="addbank" action="/subadmin/subadmin_post_bank" method="post" enctype="multipart/form-data">
              <div class="mb-1">
                <label class="form-label" for="basic-default-name">Name</label>
                <input type="text" class="form-control" id="basic-default-name" name="name" placeholder="Enter name" />
              </div>
              <div class="mb-1">
                <label class="form-label" for="basic-default-nationality">Bank Name</label>
                <input type="text" class="form-control" id="basic-default-nationality" name="bank_name" placeholder="Enter bank name" />
              </div>
              <div class="mb-1">
                <label class="form-label" for="basic-default-age">Bank Account Number</label>
                <input type="text" class="form-control" id="basic-default-age" name="bank_account" placeholder="Enter bank account numbrer" />
              </div>



              <button type="submit" class="btn btn-primary" name="submit" value="Submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
   
  <div class="mt-4">
    <h3 class="pro_heading text-center">Bank Data</h3>

    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <img src="webassets/images/bank.png" alt="">
        <p class="fw-semibold my-3">Total Earnings Amount</p>
        <h3 class=" fw-semibold mb-3"><%= new Intl.NumberFormat("en-US", { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(totalAmount.totalAmount) %>


          <form id="withdrawalForm" class="modal_form">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <input type="text" id="withdrawalAmount" class="form-control fw-semibold" placeholder="Enter Amount">
                </div>
              </div>
            </div>

            <div class="row justify-content-start">
              <% getBank.forEach(function(key) { %>
              <div class="col-lg-3 col-md-4">
                <label  for="bank<%= key.id %>" class="mt-2 back_detail_card">
                      <ul class="list-unstyled">
                        <li class="mb-1">
                          <p class="mb-0">Name</p> <small class="fw-light"><%= key.name %></small>
                        </li>
                        <li class="mb-1">
                          <p class="mb-0">Bank Account</p> <small class="fw-light"><%= key.bank_account %></small>
                        </li>
                        <li class="mb-1">
                          <p class="mb-0">Bank Name</p> <small class="fw-light"><%= key.bank_name %></small>
                        </li>
                      </ul>
                    <label class="radio-button m-0 align-self-start ms-auto " for="bank<%= key.id %>">
                      <input type="radio" class="radio-button__input" id="bank<%= key.id %>" name="selectedBank" value="<%= key.id %>">
                      <span class="radio-button__control"></span>
                    </label>
                </label>
              </div>
              <% }) %>
            </div>

            <button id="withdrawalButton" class="update_btn rounded btn btn-primary mt-2">Withdrawal</button>

          </form>

      </div>
    </div>
  </div>
</div>
</div>

  <!-- END: Content-->
  <%- include('../subadmincommon/footer.ejs'); %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



  <script>
    $(document).ready(function() {
      jQuery.validator.addMethod("noSpace", function(value, element) {
        return value == '' || value.trim().length != 0;
      }, "No space please and don't leave it empty");

      jQuery.validator.addMethod("alphanumeric", function(value, element) {
        return this.optional(element) || /^[a-zA-Z0-9_]+$/.test(value);
      }, "Only letters, numbers, and underscores allowed");

      jQuery.validator.addMethod("validEmail", function(value, element) {
        return this.optional(element) || /^[a-zA-Z0-9_]+@[a-zA-Z0-9_]+\.[a-zA-Z]{2,3}$/.test(value) && value.endsWith('.com');
      }, "Please enter a valid email address ending with '.com'");

      jQuery.validator.addMethod("onlyNumbers", function(value, element) {
        return this.optional(element) || /^\d+$/.test(value);
      }, "Only numbers are allowed");

      $("#addbank").validate({
        ignore: [],
        rules: {
          name: {
            required: true,
            minlength: 3,
            noSpace: true
          },
          bank_name: {
            required: true,
            noSpace: true
          },
          bank_account: {
            required: true,
            noSpace: true
          },


        },
        messages: {

          name: {
            required: "Name is a required field!!!",
            accept: "Please enter a vaild name ",
            noSpace: "Space not allowed"
          },
          bank_name: {
            required: "Bank is a required field!!!",
            noSpace: "Space not allowed"
          },

          bank_account: {
            required: "Bank Account is a required field!!!",
            noSpace: "Space not allowed",


          },


        },
      })
    })
  </script>



  <script>
    $(document).ready(function() {
      $("#withdrawalForm").submit(function(e) {
        e.preventDefault();

        const selectedBankId = $('input[name="selectedBank"]:checked').val();
        const withdrawalAmount = $("#withdrawalAmount").val();
        const totalAmount = `<%=totalAmount.totalAmount%>`;

        if (!selectedBankId) {
          Swal.fire({
            icon: "error",
            title: "Please select a bank",
          });
          return;
        }

        if (!withdrawalAmount) {
          Swal.fire({
            icon: "error",
            title: "Please enter an amount",
          });
          return;
        }

        if (parseFloat(withdrawalAmount) > totalAmount) {
          Swal.fire({
            icon: "error",
            title: "Withdrawal amount exceeds total amount",
          });
          return;
        }

        $.ajax({
          type: "POST",
          url: "/subadmin/withdrawal_request",
          data: {
            amount: withdrawalAmount,
            bank_id: selectedBankId,
          },
          success: function(data) {
            Swal.fire({
              icon: "success",
              title: "Withdrawal request created successfully",
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = '/subadmin/subadmin_add_bank';
              }
            });
          },
          error: function(error) {
            Swal.fire({
              icon: "error",
              title: "An error occurred while creating the withdrawal request",
            });
          },
        });
      });
    });
  </script>