                `;
                <!DOCTYPE html>
                <html lang="en">
                
                <head>
                  <title>Ordersup</title>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1">
                  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
                  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
                  <link rel="icon" type="image/x-icon" href="/background/fav.png">
                
                  <!-- General CSS Files -->
                  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
                    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
                
                  <!-- CSS Libraries -->
                  <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">
                
                  <!-- Template CSS -->
                  <link rel="stylesheet" href="../assets/css/style.css">
                  <link rel="stylesheet" href="../assets/css/components.css">
                
                
                  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" /> -->
                  <link href="css/custom.css" rel="stylesheet" />
                </head>
                <style type="text/css">
                  body {
                    background-image: url("/logoimages/background.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                  }
                
                  .error {
                    color: red;
                
                  }
                
                  .box_sha {
                    width: 100%;
                    position: absolute;
                    max-width: 400px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    background: rgb(255 255 255 / 81%);
                    padding: 50px;
                    color: rgb(0, 0, 0);
                    border-radius: 7px;
                }
                
                  .btn-primary {
                    color: #fff;
                    background-color: #f30709;
                    border-color: #f30709;
                  }
                
                  div#msg {
                    background: #f30709;
                    position: absolute;
                    right: 10px;
                    padding: 0px;
                    color: #fff;
                    font-weight: bold;
                    width: 30%;
                    text-align: center;
                    top: 10px;
                  }
                
                  div#msg h5 {
                    font-weight: bold;
                  }
                
                  .btn-primary:hover {
                    color: #fff;
                    background-color: #f30709;
                    border-color: #f30709;
                  }
                
                  .btn.btn-lg {
                    padding: 0.55rem 1.5rem;
                    font-size: 12px;
                    margin-top: 25px;
                  }
                
                  /* body{
                    background:url(../../images/bg.png);
                    width: 100%;
                } */
                </style>
                
                <body>
                  
                  <div class="container" id="container_wrapper">
                    <div class="box_sha">
                      <div class="icon-object border-slate-300 text-slate-300 mb-4"><img src="/logoimages/logo.png" class="img-rounded"
                          style="height: auto;width: 70%;min-width: 170px;"></div>
                      <h3 class="mb-3">Reset Password</h3>
                      <form method="post" id="passwordForm" action="/user/reset/password">
                        <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password"
                          autocomplete="off" required>
                
                        <input type="hidden" name="email" value="<%=email%>">
                        <input type="hidden" name="forgot_token" value="<%=forgot_token%>">
                
                        <br>
                        <input type="password" class="input-lg form-control" name="password2" id="password2"
                          placeholder="Repeat Password" autocomplete="off" required>
                
                        <input id="submit_change_password" type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg"
                          data-loading-text="Changing Password..." value="Change Password">
                      </form>
                    </div>
                  </div>
                
                </body>
                
                </html>
                <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
                
                <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                
                <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
                  </script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
                  </script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js">
                </script>
                <script type="text/javascript" charset="utf8"
                  src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
                <script
                  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js">
                  </script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
                
                <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
                <script>
                  $(function () {
                    let value = $("#passwordForm input[name='password1']").val();
                
                    $.validator.addMethod("checklower", function (value) {
                      return /[a-z]/.test(value);
                    });
                    $.validator.addMethod("checkupper", function (value) {
                      return /[A-Z]/.test(value);
                    });
                    $.validator.addMethod("checkdigit", function (value) {
                      return /[0-9]/.test(value);
                    });
                    $.validator.addMethod("pwcheck", function (value) {
                      return /[#?!@$%^&*-]/.test(value);
                    });
                    $.validator.addMethod("onlynumber", function (value) {
                      return /^\d+$/.test(value);
                    });
                    $.validator.addMethod("onlyalphabet", function (value) {
                      return /[#?!@$%^&*-]/.test(value);
                    });
                    $("#passwordForm").validate({
                      rules: {
                        password1: {
                          required: true,
                          minlength: 8,
                          checklower: true,
                          checkupper: true,
                          checkdigit: true,
                          pwcheck: true
                        },
                        password2: {
                          required: true,
                          equalTo: "#password1"
                
                        },
                      },
                      messages: {
                        password1: {
                          required: "Please provide a password",
                          minlength: "Your password must be at least 8 characters long",
                          pwcheck: "Need atleast 1 special character",
                          checklower: "Need atleast 1 lowercase alphabet",
                          checkupper: "Need atleast 1 uppercase alphabet",
                          checkdigit: "Need atleast 1 digit"
                        },
                        password2: {
                          required: "Please confirm your password",
                          equalTo: "Confirm password should match your new password"
                        },
                      },
                    });
                  });
                </script>
                <script>
                  setTimeout(function () {
                    $("div.msg").fadeOut();
                    $(".alert-success").html('')
                  }, 2000);
                </script>
                
                <script>
                  $('#passwordForm').on('submit', function (e) {
                    e.preventDefault();
                    $.ajax({
                      type: 'POST',
                      url: '/api/reset_password',
                      data: {
                        newPassword: $("#password1").val(),
                        confirm_password: $("#password2").val(),
                        token: "<%=forgot_token%>"
                      },
                      success: (result) => {
                        let color = '';
                        if (result.code == 200) {
                          color = 'green';
                        } else {
                          color = 'red';
                        }
                
                        let html = `
                                   <div style="font-size: 50px; color: ${color};" >
                                        <b><center>${result.message}</center><p>
                                    </div>
                                `;
                        $('#container_wrapper').html(html);
                      }
                    });
                  });
                </script>