<%- include('../common/header.ejs'); %>

<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

    <!-- BEGIN: Header-->
    <%- include('../common/navbar.ejs'); %>
    <!-- END: Header-->


    <!-- BEGIN: Main Menu Sidebar -->
    <%- include('../common/sidebar.ejs'); %>
    <!-- END: Main Menu Sidebar-->

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="app-user-edit">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                
                                    <div class="tab-content">
                                        <!-- Account Tab starts -->
                                        <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                            <!-- users edit start -->
                                            
                                            <!-- users edit ends --> 
                                            <!-- users edit account form start -->
                                            <form action="/admin/viewupdate/<%-userview.id%>" method="post" class="form-validate" novalidate="novalidate" enctype="multipart/form-data">
                                
                                                <div class="d-flex mb-2">
                                                    <!-- <input  type="file" name="image" required> -->
                                                    <img src="<%-userview.image ? userview.image : '/images/admin/images.png'%>" alt="users avatar" class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer" height="90" width="90">
                                                    <div class="mt-50">
                                                        <h4></h4>
                                                    </div> 
                                                </div>
                                                    <div class="col-md-12">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="name">Name</label>
                                                            <input required="text" class="form-control" readonly placeholder="Name" value="<%-userview.name%>" name="name" id="name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="mb-1">
                                                            <label  class="form-label" for="email">E-mail</label>
                                                            <input  disabled readonly  type="email" class="form-control" placeholder="Email" value="<%-userview.email%>" name="email" id="email">
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="company">Phone</label>
                                                            <input required type="text" readonly name="location" class="form-control" value="<%-userview.phone_number%>" placeholder="Address name" id="company">
                                                        </div>
                                                    </div> -->
                                            
                                                <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                                    <!-- <button type="submit" class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Save Changes</button> -->
                                                    <a href="/admin/userlisting" class="btn btn-danger mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Back</a> 
                                                </div>
                                            
                                            </form>
                                            <!-- users edit account form ends -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- END: Content-->
    <%- include('../common/footer.ejs'); %>
