<%- include('../common/header.ejs'); %>

    <!-- END: Head-->
    <!-- BEGIN: Body-->
    <%- include('../common/navbar.ejs'); %>

        <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
            data-menu="vertical-menu-modern" data-col="">

            <!-- BEGIN: Header-->


            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('../common/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">Routines</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="tab-content">
                                <!-- Account Tab starts -->
                                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                    <!-- users edit start -->

                                    <!-- users edit ends -->
                                    <!-- users edit account form start -->
                                    <div class="col-md-6 col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Add</h4>
                                            </div>
                                            <div class="card-body">
                                
                                                <!--  -->
                                                <form id="activity-form" action="/admin/add_routines_post" method="post"
                                                    enctype="multipart/form-data">
                                                    <div class="mb-1">
                                                        <label class="form-label" for="basic-default-name">Title</label>
                                                        <input type="text" class="form-control" id="basic-default-name"
                                                            name="name" placeholder="Example- Music" required />
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label"
                                                            for="basic-default-text">Description</label>
                                                        <textarea class="form-control" id="basic-default-text"
                                                            name="description"
                                                            placeholder="Enter a description"></textarea>
                                                    </div>


                                                    
                                                    <div class="mb-1" id="daysOfWeek">
                                                        <label class="form-label">Select Days of the Week</label>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="day-mon"
                                                                name="Monday" value="0">
                                                            <label class="form-check-label" for="day-mon">Monday</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="day-tue"
                                                                name="Tuesday" value="0">
                                                            <label class="form-check-label"
                                                                for="day-tue">Tuesday</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="day-wed"
                                                                name="Wednesday" value="0">
                                                            <label class="form-check-label"
                                                                for="day-wed">Wednesday</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="day-thu"
                                                                name="Thursday" value="0">
                                                            <label class="form-check-label"
                                                                for="day-thu">Thursday</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="day-fri"
                                                                name="Friday" value="0">
                                                            <label class="form-check-label" for="day-fri">Friday</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="day-sat"
                                                                name="Saturday" value="0">
                                                            <label class="form-check-label"
                                                                for="day-sat">Saturday</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="day-sun"
                                                                name="Sunday" value="0">
                                                            <label class="form-check-label" for="day-sun">Sunday</label>
                                                        </div>
                                                    </div>
                                                    <h4>Steps</h4>
                                                    <h6>Activity No. 1</h6>
                                                    <div class="mb-1">
                                                        <label class="form-label" for="activity-title-1">Title</label>
                                                        <input type="text" class="form-control" id="activity-title-1"
                                                            name="title"
                                                            placeholder="Example - Going to morning walk" required />
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label" for="activity-duration-1">Duration (in
                                                            minutes)</label>
                                                        <input type="number" class="form-control"
                                                            id="activity-duration-1" name="duration"
                                                            placeholder="Example - 15" required />
                                                    </div>
                                                    <!-- Other form fields -->

                                                    <div id="activities-container">
                                                        <!-- Activities will be dynamically added here -->
                                                    </div>

                                                    <button type="button" onclick="addActivity()">Add More</button>

                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                                <!--  -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /jQuery Validation -->
                                </div>
                                </section>
                                <!-- /Validation -->

                                <!-- users edit account form ends -->
                            </div>
                        </div>
                    </div>
                </div>
                </section>

                </div>
                </div>
                </div>
                <!-- END: Content-->



                <%- include('../common/footer.ejs'); %>
              
                    <script>
                        function addActivity() {
                            var activitiesContainer = document.getElementById('activities-container');
                    
                            // Create new elements for activity
                            var activityNumber = activitiesContainer.children.length + 1;
                            var activityDiv = document.createElement('div');
                            activityDiv.innerHTML = `
                                <div id="activity-${activityNumber}">
                                    <h6>Activity No. ${activityNumber}</h6>
                                    <div class="mb-1">
                                        <label class="form-label" for="activity-title-${activityNumber}">Title</label>
                                        <input type="text" class="form-control" id="activity-title-${activityNumber}" name="title" placeholder="Example - Going to morning walk" />
                                    </div>
                                    <div class="mb-1">
                                        <label class="form-label" for="activity-duration-${activityNumber}">Duration (in minutes)</label>
                                        <input type="number" class="form-control" id="activity-duration-${activityNumber}" name="duration" placeholder="Example - 15" />
                                    </div>
                                    <button type="button" onclick="removeActivity('activity-${activityNumber}')">Remove</button>
                                </div>
                            `;
                    
                            // Append the new activity to the container
                            activitiesContainer.appendChild(activityDiv);
                        }
                    
                        function removeActivity(activityId) {
                            var activityToRemove = document.getElementById(activityId);
                    
                            if (activityToRemove) {
                                // Remove the corresponding activity div
                                activityToRemove.parentNode.removeChild(activityToRemove);
                            }
                        }
                    </script>
                    <script>
                        // Add an event listener to the parent container
                        document.getElementById('daysOfWeek').addEventListener('change', function (event) {
                            if (event.target.type === 'checkbox') {
                                // Update the value based on the checkbox state
                                event.target.value = event.target.checked ? '1' : '0';
                            }
                        });
                    </script>
                    