<%- include('../common/header.ejs'); %>

    <!-- END: Head-->
    <!-- BEGIN: Body-->
    <%- include('../common/navbar.ejs'); %>

        <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
            data-menu="vertical-menu-modern" data-col="">

            <!-- BEGIN: Header-->


            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('../common/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">Goals</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="tab-content">
                                <!-- Account Tab starts -->
                                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                    <!-- users edit start -->

                                    <!-- users edit ends -->
                                    <!-- users edit account form start -->
                                    <div class="col-md-6 col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Add</h4>
                                            </div>
                                            <div class="card-body">
                                
                                                <!--  -->
                                                <form id="activity-form" action="/admin/add_goals_post" method="post"
                                                    enctype="multipart/form-data">
                                                    <div class="mb-1">
                                                        <label class="form-label" for="basic-default-name">Title</label>
                                                        <input type="text" class="form-control" id="basic-default-name"
                                                            name="name" placeholder="Example- Music" required />
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label" for="basic-default-name">Completion Date</label>
                                                        <input type="date" class="form-control" id="basic-default-name"
                                                            name="completion_date" placeholder="Example- dd/mm/yyyy" required />
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label"
                                                            for="basic-default-text">Description</label>
                                                        <textarea class="form-control" id="basic-default-text"
                                                            name="description"
                                                            placeholder="Enter a description"></textarea>
                                                    </div>


                                                    
                                                    <h4>Milestone</h4>
                                                    <h6>Activity No. 1</h6>
                                                    <div class="mb-1">
                                                        <label class="form-label" for="activity-title-1">Title</label>
                                                        <input type="text" class="form-control" id="activity-title-1"
                                                            name="title"
                                                            placeholder="Example - Going to morning walk" required />
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label" for="activity-duration-1">Due Date</label>
                                                        <input type="date" class="form-control"
                                                            id="activity-duration-1" name="due_date"
                                                            placeholder="Example - dd/mm/yyyy" required />
                                                    </div>
                                                    <!-- Other form fields -->

                                                    <div id="activities-container">
                                                        <!-- Activities will be dynamically added here -->
                                                    </div>

                                                    <button type="button" onclick="addActivity()">Add More</button>

                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                                <!--  -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /jQuery Validation -->
                                </div>
                                </section>
                                <!-- /Validation -->

                                <!-- users edit account form ends -->
                            </div>
                        </div>
                    </div>
                </div>
                </section>

                </div>
                </div>
                </div>
                <!-- END: Content-->

                <%- include('../common/footer.ejs'); %>
              
                    <script>
                        function addActivity() {
                            var activitiesContainer = document.getElementById('activities-container');
                    
                            // Create new elements for activity
                            var activityNumber = activitiesContainer.children.length + 1;
                            var activityDiv = document.createElement('div');
                            activityDiv.innerHTML = `
                                <div id="activity-${activityNumber}">
                                    <h6>Activity No. ${activityNumber}</h6>
                                    <div class="mb-1">
                                        <label class="form-label" for="activity-title-${activityNumber}">Title</label>
                                        <input type="text" class="form-control" id="activity-title-${activityNumber}" name="title" placeholder="Example - Going to morning walk" />
                                    </div>
                                    <div class="mb-1">
                                        <label class="form-label" for="activity-duration-${activityNumber}">Due Date</label>
                                        <input type="date" class="form-control" id="activity-duration-${activityNumber}" name="due_date" placeholder="Example - dd/mm/yyyy " />
                                    </div>
                                    <button type="button" onclick="removeActivity('activity-${activityNumber}')">Remove</button>
                                </div>








                            `;
                    
                            // Append the new activity to the container
                            activitiesContainer.appendChild(activityDiv);
                        }
                    
                        function removeActivity(activityId) {
                            var activityToRemove = document.getElementById(activityId);
                    
                            if (activityToRemove) {
                                // Remove the corresponding activity div
                                activityToRemove.parentNode.removeChild(activityToRemove);
                            }
                        }
                    </script>
                    <script>
                        // Add an event listener to the parent container
                        document.getElementById('daysOfWeek').addEventListener('change', function (event) {
                            if (event.target.type === 'checkbox') {
                                // Update the value based on the checkbox state
                                event.target.value = event.target.checked ? '1' : '0';
                            }
                        });
                    </script>
                    