<%- include('../common/header.ejs'); %>

  <!-- END: Head-->
  <!-- BEGIN: Body-->
  <%- include('../common/navbar.ejs'); %>
  <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
  data-menu="vertical-menu-modern" data-col="">
  
  <!-- BEGIN: Header-->


      <!-- END: Header-->


      <!-- BEGIN: Main Menu Sidebar -->
      <%- include('../common/sidebar.ejs'); %>
        <!-- END: Main Menu Sidebar-->

        <!-- BEGIN: Content-->
        <div class="app-content content ">
          <div class="content-overlay"></div>
          <div class="header-navbar-shadow"></div>
          <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Routines</h2>
                        </div>
                    </div>
                </div>
            </div>
                  <div class="card-body">

                    <div class="tab-content">
                      <!-- Account Tab starts -->
                      <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                        <!-- users edit start -->
          
                        <!-- users edit ends -->
                        <!-- users edit account form start -->
                        <div class="col-md-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Edit</h4>
                                </div>
                                <div class="card-body">
                                    <form id="jquery-val-form" action="/admin/routines_update/<%-data_view.id%>" method="post" enctype="multipart/form-data">
                                        <div class="mb-1">
                                            <label class="form-label" for="basic-default-name">Title</label>
                                            <input type="text" class="form-control" id="basic-default-name" name="name" value="<%-data_view.name%>" placeholder="Example- Music" />
                                        </div>
                                        <div class="mb-1">
                                            <label class="form-label"
                                                for="basic-default-text">Description</label>
                                            <textarea class="form-control" id="basic-default-text"
                                                name="description"
                                                placeholder="Enter a description"><%-data_view.description%></textarea>
                                        </div>
                                        <div class="mb-1" id="daysOfWeek">
                                            <label class="form-label">Select Days of the Week</label>
                                        
                                            <!-- Monday -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="day-mon" name="monday" <% if (data_view.monday == 1) { %> checked <% } %> value="1">
                                                <label class="form-check-label" for="day-mon">Monday</label>
                                            </div>
                                        
                                            <!-- Tuesday -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="day-tue" name="tuesday" <% if (data_view.tuesday == 1) { %> checked <% } %> value="1">
                                                <label class="form-check-label" for="day-tue">Tuesday</label>
                                            </div>
                                        
                                            <!-- Wednesday -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="day-wed" name="wednesday" <% if (data_view.wednesday == 1) { %> checked <% } %> value="1">
                                                <label class="form-check-label" for="day-wed">Wednesday</label>
                                            </div>
                                        
                                            <!-- Thursday -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="day-thu" name="thursday" <% if (data_view.thursday == 1) { %> checked <% } %> value="1">
                                                <label class="form-check-label" for="day-thu">Thursday</label>
                                            </div>
                                        
                                            <!-- Friday -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="day-fri" name="friday" <% if (data_view.friday == 1) { %> checked <% } %> value="1">
                                                <label class="form-check-label" for="day-fri">Friday</label>
                                            </div>
                                        
                                            <!-- Saturday -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="day-sat" name="saturday" <% if (data_view.saturday == 1) { %> checked <% } %> value="1">
                                                <label class="form-check-label" for="day-sat">Saturday</label>
                                            </div>
                                        
                                            <!-- Sunday -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="day-sun" name="sunday" <% if (data_view.sunday == 1) { %> checked <% } %> value="1">
                                                <label class="form-check-label" for="day-sun">Sunday</label>
                                            </div>
                                        </div>
                                    
                                        
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>

                                </div>
                                <div class="content-body">
                                    <!-- Basic table -->
                                    <section id="basic-datatable">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <table class="table" id="myTable">
                                                        <thead>
                                                            <tr>
                                                                <th>S.No</th>
                                                                <th>Name</th>
                                                            
                                                                <th>Duration</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
        
                                                        <% data_view.Steps.forEach(function(user, i){ %>
                                                            <tr>
                                                                <th scope="row">
                                                                    <%= i+1 %>
                                                                </th>
                                                                <td>
                                                                    <%= user.title %>
                                                                </td>
                                                              
                                                                <td>
                                                                    <%= user.duration %> (Min)
                                                                <td>
                                                                    <a href="/admin/task_edit/<%-user.id%>"
                                                                        class="btn btn-success"><i
                                                                            class="fa-solid fa-eye"></i></a>
                                                                    <a onclick="deleteUser('<%-user.id%>')"
                                                                        class="btn btn-danger"><i class="fa fa-trash"
                                                                            aria-hidden="true"></i></a>
        
        
                                                                </td>
                                                            </tr>
                                                            <% }); %>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
        
                                    </section>
                                    <!--/ Basic table -->
                                </div>
                            </div>
                        </div>
                        <!-- /jQuery Validation -->
                    </div>
                </section>
                <!-- /Validation -->

                        <!-- users edit account form ends -->
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </div>
          </div>
        </div>
        <!-- END: Content-->
        


        <%- include('../common/footer.ejs'); %>
        <script>
            function deleteUser(user_id) {
                // alert(user_id)
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: "btn btn-success",
                        cancelButton: "btn btn-danger"
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!",
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {


                        $.ajax({
                            type: "POST",
                            url: "/admin/task_deleted",
                            data: {
                                id: user_id,
                                // is_deleted: 1
                            },
                            success: function (response) {
                      ;
                                if (response == true) {
                                    swalWithBootstrapButtons.fire({
                                        title: "Deleted!",
                                        text: "Your user has been deleted.",
                                        icon: "success"
                                    }).then((suc) => {
                                        location.reload()
                                    });

                                }
                            },
                            error: function (response) {
                                
                            }
                        });

                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire({
                            title: "Cancelled",
                            text: "Your user is safe :)",
                            icon: "error"
                        });
                    }
                });
            }
        </script>