<%- include('../common/header.ejs'); %>

    <!-- END: Head-->
    <!-- BEGIN: Body-->
    <%- include('../common/navbar.ejs'); %>

        <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
            data-menu="vertical-menu-modern" data-col="">

            <!-- BEGIN: Header-->


            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('../common/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">Routines</h2>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="tab-content">
                                <!-- Account Tab starts -->
                                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                    <!-- users edit start -->

                                    <!-- users edit ends -->
                                    <!-- users edit account form start -->
                                    <div class="col-md-6 col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Edit</h4>
                                            </div>
                                            <div class="card-body">
                                
                                                <!--  -->
                                                <form id="activity-form" action="/admin/task_update/<%-data_view.id%>" method="post"
                                                    enctype="multipart/form-data">
                                                    <div class="mb-1">
                                                        <label class="form-label" for="basic-default-name">Title</label>
                                                        <input type="text" class="form-control" id="basic-default-name"
                                                            name="title" disabled value="<%-data_view.ScheduleTitle.name%>" placeholder="Example- Music" required />
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label"
                                                            for="basic-default-text">Activity Title</label>
                                                        <textarea class="form-control" id="basic-default-text"
                                                            name="title"
                                                            placeholder="Enter a description"><%-data_view.title%></textarea>
                                                    </div>
                                                    <div class="mb-1">
                                                        <label class="form-label" for="basic-default-name">Duration(Minute)</label>
                                                        <input type="number" class="form-control" id="basic-default-name"
                                                            name="duration" value="<%-data_view.duration%>"  placeholder="Example- 15" required />
                                                    </div>
                                                  



                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                                <!--  -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /jQuery Validation -->
                                </div>
                                </section>
                                <!-- /Validation -->

                                <!-- users edit account form ends -->
                            </div>
                        </div>
                    </div>
                </div>
                </section>

                </div>
                </div>
                </div>
                <!-- END: Content-->



                <%- include('../common/footer.ejs'); %>
              
               
                    