<%- include('../common/header.ejs'); %>

  <!-- END: Head-->
  <!-- BEGIN: Body-->
  <%- include('../common/navbar.ejs'); %>
  <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
  data-menu="vertical-menu-modern" data-col="">
  
  <!-- BEGIN: Header-->


      <!-- END: Header-->
      <!-- BEGIN: Main Menu Sidebar -->
      <%- include('../common/sidebar.ejs'); %>
        <!-- END: Main Menu Sidebar-->

        <!-- BEGIN: Content-->
        <div class="app-content content ">
          <div class="content-overlay"></div>
          <div class="header-navbar-shadow"></div>
          <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Add</h2>
                        </div>
                    </div>
                </div>
            </div>
                  <div class="card-body">

                    <div class="tab-content">
                      <!-- Account Tab starts -->
                      <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                        <!-- users edit start -->

                        <!-- users edit ends -->
                        <!-- users edit account form start -->
                        <div class="col-md-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <form id="jquery-val-form" action="/admin/languages_post" method="post" enctype="multipart/form-data">
                                        <div class="mb-1">
                                            <label class="form-label" for="basic-default-name">Name</label>
                                            <input type="text" class="form-control" id="basic-default-name" name="name" placeholder="Enter Name" required />
                                        </div>
                                      
                                        <button type="submit" class="btn btn-primary" name="submit" value="Submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /jQuery Validation -->
                    </div>
                </section>
                <!-- /Validation -->

                        <!-- users edit account form ends -->
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </div>
          </div>
        </div>
        <!-- END: Content-->
  


        <%- include('../common/footer.ejs'); %>