<%- include('../common/header.ejs'); %>
<style>
  .error {
    color: red !important;
    font-size: 12px !important;
  }
</style>

  <!-- END: Head-->
  <!-- BEGIN: Body-->
  <%- include('../common/navbar.ejs'); %>
  <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
  data-menu="vertical-menu-modern" data-col="">
  
  <!-- BEGIN: Header-->


      <!-- END: Header-->


      <!-- BEGIN: Main Menu Sidebar --> 
      <%- include('../common/sidebar.ejs'); %>
        <!-- END: Main Menu Sidebar-->

        <!-- BEGIN: Content-->
        <div class="app-content content ">
          <div class="content-overlay"></div>
          <div class="header-navbar-shadow"></div>
          <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Edit</h2>
                        </div>
                    </div>
                </div>
            </div>
                  <div class="card-body">

                    <div class="tab-content">
                      <!-- Account Tab starts -->
                      <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                        <!-- users edit start -->

                        <!-- users edit ends -->
                        <!-- users edit account form start -->
                        <div class="col-md-6 col-12">
                            <div class="card">
                               
                                <div class="card-body">
                                    <form id="subadminedit" action="/admin/interest_update/<%-data_view?.id%>" method="post" enctype="multipart/form-data">
                                        <div class="mb-1">
                                            <label class="form-label" for="basic-default-name">Name</label>
                                            <input type="text" class="form-control" id="basic-default-name" name="name" value="<%-data_view?.name%>" placeholder="Enter name" />
                                        </div>

                                        <div class="mb-1">
                                          <label class="form-label" for="basic-default-email">Email</label>
                                          <input type="email" class="form-control" id="basic-default-email" name="email" value="<%-data_view?.email%>" placeholder="Enter email" />
                                      </div>

                                      <div class="mb-1">
                                        <label class="form-label" for="basic-default-username">Username</label>
                                        <input type="text" class="form-control" id="basic-default-username" name="username" value="<%-data_view?.username%>" placeholder="Enter username" required />
                                    </div>
                                      <div class="mb-1">
                                        <label class="form-label" for="basic-default-address">Address</label>
                                        <input type="text" class="form-control" id="basic-default-address" name="address" value="<%-data_view?.address%>" placeholder="Enter address" required />
                                    </div>

                                      <div class="mb-1">
                                        <label class="form-label" for="basic-default-image">Image</label>
                                        <div class="d-flex mb-2">
                                          <!-- <label for="image" class="form-label">Image</label> -->

                                          <input class="form-control" type="file" id="image" name="image"  />
                                            <img src="<%-data_view?.image ? data_view.image : '/images/admin/images.png'%>" alt="users avatar" class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer" height="90" width="90">
                                            <div class="mt-50">
                                                <h4></h4>
                                            </div> 
                                        </div>
                                        </div>
                                        
                                      
                                        <!-- <div class="mb-1">
                                            <label for="image" class="form-label">Image</label>
                                            <input class="form-control" type="file" id="image" name="image" />
                                        </div> -->
                                        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                          <button type="submit" class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Save Changes</button>
                                          <a href="/admin/subadminlisting" class="btn btn-danger mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Back</a> 
                                      </div>
                                        <!-- <button type="submit" class="btn btn-primary" name="submit" value="Submit">Submit</button> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /jQuery Validation -->
                    </div>
                </section>
                <!-- /Validation -->

                        <!-- users edit account form ends -->
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </div>
          </div>
        </div>
        <!-- END: Content-->
  


        <%- include('../common/footer.ejs'); %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script>
          $(document).ready(function() {
            jQuery.validator.addMethod("noSpace", function(value, element) {
              return value == '' || value.trim().length != 0;
            }, "No space please and don't leave it empty");
      
            jQuery.validator.addMethod("alphanumeric", function(value, element) {
              return this.optional(element) || /^[a-zA-Z0-9_]+$/.test(value);
            }, "Only letters, numbers, and underscores allowed");
      
            jQuery.validator.addMethod("validEmail", function(value, element) {
              return this.optional(element) || /^[a-zA-Z0-9_]+@[a-zA-Z0-9_]+\.[a-zA-Z]{2,3}$/.test(value) && value.endsWith('.com');
            }, "Please enter a valid email address ending with '.com'");
      
            $("#subadminedit").validate({
              ignore: [],
              rules: {
                name: {
                  required: true,
                  minlength: 3,
                  noSpace: true
                },
                email: {
                  required: true,
                  // remote: "/admin/check_email",
                  email: true,
                  validEmail: true,
                  noSpace: true
                },
                username: {
                  required: true,
                  // remote: "/admin/check_username",
                  alphanumeric: true,
                  noSpace: true
                },
                address: {
                  required: true,
                },
                password: {
                  required: true,
                  minlength: 6,
                  noSpace: true
                },
      
              
              },
              messages: {
      
                name: {
                  required: "Name is a required field!!!",
                  accept: "Please enter a vaild name ",
                  noSpace: "Space not allowed"
                },
                email: {
                  required: "Email is a required field!!!",
                  // remote: "Email already exist",
                  noSpace: "Space not allowed"
      
                },
      
                username: {
                  required: "Username is a required field!!!",
                  // remote: "Username already exist",
                  noSpace: "Space not allowed"
      
                },
      
                address: {
                  required: "Address is a required field!!!",
                  noSpace: "Space not allowed"
      
                },
                password: {
                  required: "Password is a required field!!!",
                  minlength: "Minimum password length should be 6",
                  noSpace: "Space not allowed"
      
                },
             
      
      
              },
            })
          })
      
          $("#image").on('change', function() {
            // alert("dsfsdf")
            $("#image-error").hide()
          })
        </script>