<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row sidebar_logo">
      <li class="nav-item me-auto"><a class="" href="/subadmin/dashboard"><span class="brand-logo">
            <img src="/../app-assets/images/logo/Group-1597883900.png" class="rounded-circle mx-auto d-block" alt=""></span>
          <!-- <h2 class="brand-text">Amala</h2> -->
        </a></li>
      <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i></a></li>
    </ul>
  </div>
  <!-- <div class="shadow-bottom"></div> -->
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" nav-item <%=(title == 'dashboard' )? 'active' : '' %>"><a class="d-flex align-items-center" href="/subadmin/dashboard"><i data-feather="home"></i><span class="menu-title text-truncate" data-i18n="Dashboards">Dashboard</span><span class="badge badge-light-warning rounded-pill ms-auto me-1"></span></a>

      </li>

      <li class=" nav-item <%=(title == 'maid' )? 'active' : '' %>"><a class="d-flex align-items-center" href="/subadmin/maid_listing"><i data-feather="user"></i><span class="menu-title text-truncate" data-i18n="user">Maid</span></a>
      </li>
      <li class=" nav-item <%=(title == 'chef' )? 'active' : '' %>"><a class="d-flex align-items-center" href="/subadmin/chef_listing"><i data-feather="user"></i><span class="menu-title text-truncate" data-i18n="user">Chef</span></a>
      </li>
      <li class=" nav-item <%=(title == 'driver' )? 'active' : '' %>"><a class="d-flex align-items-center" href="/subadmin/driver_listing"><i data-feather="user"></i><span class="menu-title text-truncate" data-i18n="user">Driver</span></a>
      </li>

      <li class=" nav-item <%=(title == 'bookings' )? 'active' : '' %>"><a class="d-flex align-items-center" href="/subadmin/subadmin_booking_listing"><i data-feather="bookmark"></i><span class="menu-title text-truncate" data-i18n="user">Bookings</span></a>
      </li>
      
      <li class=" nav-item <%=(title == 'notification' )? 'active' : '' %>"><a class="d-flex align-items-center" href="/subadmin/subadmin_notification"><i data-feather="bell"></i><span class="menu-title text-truncate" data-i18n="user">Notifications</span></a>
      </li>
      <li class=" nav-item <%=(title == 'bank' )? 'active' : '' %>"><a class="d-flex align-items-center" href="/subadmin/subadmin_add_bank"><i data-feather="dollar-sign"></i><span class="menu-title text-truncate" data-i18n="user">Bank</span></a>
      </li>
      


    
      

    
      
       <li class=" nav-item <%=(title == 'subadmincms' )? 'active' : '' %>"><a class="d-flex align-items-center" href="#"><i data-feather="file-text"></i><span class="menu-title text-truncate" data-i18n="Invoice">CMS </span></a>
        <ul class="menu-content">
          <li><a class="d-flex align-items-center" href="/subadmin/privacy_policy"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="List">Privacy Policy</span></a>
          </li>
          <li><a class="d-flex align-items-center" href="/subadmin/aboutus"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Preview">About Us</span></a>
          </li>
          <li><a class="d-flex align-items-center" href="/subadmin/termsConditions"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Preview">Terms & Conditions</span></a>
          </li>

        </ul>
      </li> 
    </ul>
  </div>
</div>