<%- include('../common/header.ejs'); %>
<style>
  .error {
    color: red !important;
    font-size: 12px !important;
  }

  .iti {
    width: 100%;
  }
</style>

<!-- END: Head-->
<!-- BEGIN: Body-->
<%- include('../common/navbar.ejs'); %>

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

  <!-- BEGIN: Header-->


  <!-- END: Header-->


  <!-- BEGIN: Main Menu Sidebar -->
  <%- include('../common/sidebar.ejs'); %>
  <!-- END: Main Menu Sidebar-->

  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-start mb-0">Notifications</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">

        <div class="tab-content">
          <!-- Account Tab starts -->
          <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
            <!-- users edit start -->

            <!-- users edit ends -->
            <!-- users edit account form start -->
            <div class="col-md-6 col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title"></h4>
                </div>
                <div class="card-body">
                  <form action="" id="addCategory" method="post" class="form-validate-jquery" enctype="multipart/form-data">
                    <div class="panel panel-flat">

                      <div class="panel-body">
                        <div class="form-group">
                          <label><%= type == 2 ? 'Subadmins' : '' %>:</label>

                          <select style="" size="10" id="multiuser" name="recieverId" multiple class="form-control" required>

                            <option value="" id="change"><%= type == 2 ? 'All Subadmins' : '' %></option>
                            <% notificationuser.forEach((notification) => { %>
                            <option class="unSelectAll" value="<%= notification.id %>"><%= notification.name %></option>
                            <% }); %>

                          </select>
                        </div>
                        <!-- <ul class="main">
                                                <li><input type="checkbox" id="select_all" /> Select all</li>
                                                <ul>
                                                    <li><input type="checkbox" class="checkbox" value="1"/>Item 1</li>
                                                    <li><input type="checkbox" class="checkbox" value="2"/>Item 2</li>
                                                    <li><input type="checkbox" class="checkbox" value="3"/>Item 3</li>
                                                    <li><input type="checkbox" class="checkbox" value="4"/>Item 4</li>
                                                    <li><input type="checkbox" class="checkbox" value="5"/>Item 5</li>
                                                </ul>
                                            </ul> -->

                        <div class="form-group mt-1">
                          <label>Message:</label>
                          <textarea id="message" rows="6" class="form-control" placeholder="Message" required name="message"></textarea>
                          <!-- <input type="message" id="message" class="form-control" placeholder="Message" required name="message"> -->
                          <span class="error" id="nameExists"></span>
                        </div>

                        <!-- <div class="form-group">
                                    <label>Logo:</label>
                                    <input type="file" name="logo" id="player-img" class="file-styled" required>
                                </div> -->

                        <!-- <div class="form-group">
                            <label>Image:</label>
                            <div class="row">
                                <div class="col-lg-4 upload-img-wrap">
                                    <input type="file" class="file-styled" name="logo" value="" id="imgInp">
                                    <img id="blah" height="50%" width="50%" class="img-fluid img-thumbnail my-3" src="/assets/images/placeholder.jpg" />
                                </div>
                            </div>
                        </div> -->

                        <div class="text-right pt-1">
                          <button type="submit" style="background-color:#f7ad00; border-color: #f7ad00; color:black;" class="btn btn-primary btn-rounded">Add <i class="icon-arrow-right14 position-right"></i></button>
                        </div>

                      </div>
                    </div>
                  </form>
                </div>

              


              </div>
            </div>
            <div class="content-body">
                <!-- Basic table -->
                <section id="basic-datatable">
                  <div class="row">
                    <div class="col-12">
                      <div class="card card-body table-responsive">
                        <table class="table" id="myTable">
                          <thead>
                            <tr>
                              <th>S.No</th>
                              <th>Send To</th>
                              <th>Message</th>
                              <th>Date</th>

                            </tr>
                          </thead>

                          <% AllNotifications.forEach(function(notification, i){ %>
                          <tr>
                            <th scope="row">
                              <%= i+1 %>
                            </th>
                            <td><%=notification.user.name%> </td>
                            <td><%=notification.message%></td>
                            <td><%= new Date(notification.createdAt).toLocaleString() %></td>

                          </tr>
                          <% }); %>
                        </table>
                      </div>
                    </div>
                  </div>

                </section>
                <!--/ Basic table -->
              </div>
            <!-- /jQuery Validation -->
          </div>
          </section>
          <!-- /Validation -->

          <!-- users edit account form ends -->
        </div>
      </div>
    </div>
  </div>
  </section>

  </div>
  </div>
  </div>
  <!-- END: Content-->



  <%- include('../common/footer.ejs'); %>
  <!-- Include CSS file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">

  <!-- Include JavaScript file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js"></script>


  <script src="../../js/pages/forms/basic-form-elements.js"></script>

  <script type="text/javascript">
    $('#ch').click(function() {


      $('#multiuser option').prop('selected', true);
      //$('#ch option').prop('selected', true); // Selects all options
    });
    $('#change').click(function() {
      var isOptionSelected = $('#change').prop('selected');

      if (isOptionSelected) {
        $('#multiuser option').prop('selected', true);
        $('#ch option').prop('selected', true);
      } else {
        $('#multiuser option').prop('selected', false);
      }

      // $('#multiuser option').prop('selected', true);
      // Selects all options
    });
    $('.unSelectAll').click(function() {


      $('#ch').prop('selected', false);
      //$('#ch option').prop('selected', true); // Selects all options
    });
    jQuery('option').mousedown(function(e) {
      e.preventDefault();
      jQuery(this).toggleClass('selected');

      jQuery(this).prop('selected', !jQuery(this).prop('selected'));
      return false;
    });

    function toggleSelectAll(control) {
      var allOptionIsSelected = (control.val() || []).indexOf("0") > -1;

      function valuesOf(elements) {
        return $.map(elements, function(element) {
          return element.value;
        });
      }

      if (control.data('allOptionIsSelected') != allOptionIsSelected) {
        // User clicked 'All' option
        if (allOptionIsSelected) {
          // Can't use .selectpicker('selectAll') because multiple "change" events will be triggered
          control.selectpicker('val', valuesOf(control.find('option')));
        } else {
          control.selectpicker('val', []);
        }
      } else {
        // User clicked other option
        if (allOptionIsSelected && control.val().length != control.find('option').length) {
          // All options were selected, user deselected one option
          // => unselect 'All' option
          control.selectpicker('val', valuesOf(control.find('option:selected[value!=0]')));
          allOptionIsSelected = false;
        } else if (!allOptionIsSelected && control.val().length == control.find('option').length - 1) {
          // Not all options were selected, user selected all options except 'All' option
          // => select 'All' option too
          control.selectpicker('val', valuesOf(control.find('option')));
          allOptionIsSelected = true;
        }
      }
      control.data('allOptionIsSelected', allOptionIsSelected);
    }

    $('#selectvender,#selectuser').selectpicker().change(function() {
      toggleSelectAll($(this));
    }).trigger('change');
  </script>
  <!-- <script src="assets/js/form_validation.js"></script> -->
  >
  <script type="text/javascript">
    $(document).ready(function() {
      $('#select_all').on('click', function() {
        if (this.checked) {
          $('.checkbox').each(function() {
            this.checked = true;
          });
        } else {
          $('.checkbox').each(function() {
            this.checked = false;
          });
        }
      });

      $('.checkbox').on('click', function() {
        if ($('.checkbox:checked').length == $('.checkbox').length) {
          $('#select_all').prop('checked', true);
        } else {
          $('#select_all').prop('checked', false);
        }
      });
    });
  </script>
</body>


</html>